{% extends "registrasion/guided_registration_.html" %}
{% comment %}
  Blocks that you can override:

  - discounts_intro
  - products_intro

{% endcomment %}

{% block content %}

  {% if current_step == 1 %}
    <div class="alert alert-danger"><strong>Attendees should fill out their own registration form</strong>.<br/> When you complete the form, you'll receive a link that you can pass on to accounts staff if you need someone to pay on your behalf.</div>
  {% endif %}

  {{ block.super }}

{% endblock %}
