{% extends "registrasion/base.html" %}
{% load bootstrap %}
{% load registrasion_tags %}
{% block body %}

  <h1>Product Category: {{ category.name }}</h1>

  <form method="post" action="">
    {% csrf_token %}

    <table>
        {{ voucher_form | bootstrap }}
    </table>

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Add voucher" />
    </div>

    {% items_purchased category as items %}
    {% if items %}
      <h3>Paid items</h3>
      <p>You have already paid for the following items:</p>
      {% include "registrasion/_items_list.html" with items=items %}
    {% endif %}


    {% if discounts %}
      <h3>Available Discounts</h3>
      {% include "registrasion/discount_list.html" with discounts=discounts %}
    {% endif %}

    <h3>Available Products</h3>
    <p>{{ category.description }}</p>
    <table>
        {{ form | bootstrap }}
    </table>

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Add to cart" />
        <a href="{% url "dashboard" %}" class="btn btn-default">Return to dashboard</a>
    </div>


  </form>


{% endblock %}
