{% extends "site_base.html" %}
{% load bootstrap %}
{% load registrasion_tags %}

{% block body %}

  <h2>{{ title }}</h2>

  {% if form %}
    <form method="GET">
      {{ form | bootstrap}}
      <br/>
      <input type="submit">
    </form>
  {% endif %}
<hr />

{% for report in reports %}
  <h3>{{ report.title }}</h3>
  <table class="table table-striped">
    <tr>
      {% for heading in report.headings %}
        <th>{{ heading }}</th>
      {% endfor %}
    </tr>
    {% for line in report.rows %}
      <tr>
        {% for item in line %}
          <td>
            {{ item|safe }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endfor %}

{% endblock %}
