{% extends "registrasion/base.html" %}
{% load bootstrap %}
{% load registrasion_tags %}

{% block body %}

  <h1>Review your selection</h1>

  {% items_pending as pending %}
  {% if pending %}

  <h3>Current selection</h3>

  <p>You've selected the following items, which will be in your invoice when
    you check out:<p>
  {% include "registrasion/_items_list.html" with items=pending %}

  {% items_purchased as purchased %}
  {% if purchased %}
    <p>You've already paid for the following items:</p>
    {% include "registrasion/_items_list.html" with items=purchased suffix="(PAID)" %}
  {% endif %}


  {% missing_categories as missing %}

  <h3>Add to your selection</h3>

  <p>You can add these items now, or you can come back and add them in a
    later purchase.</p>

  {% if missing %}

    <p>
      <strong>You have <em>not</em> selected any items from the following
        categories. Even if your ticket includes complimentary tickets to social
        events, or t-shirts, you must still add them to your selection.
      </strong>
    </p>

    {% include "registrasion/_category_list.html" with categories=missing %}

  {% endif %}

  <p>
    <strong>You can also change your selection from these categories:</strong>
  </p>

  {% available_categories as available %}
  {% include "registrasion/_category_list.html" with categories=available exclude=missing %}

  <h3>What next?</h3>

  <p>You can either generate an invoice and pay for your selections, or return to
      the dashboard.</p>

  <div class="form-actions">
    <a class="btn btn-primary" href="{% url "checkout" %}">
      <i class="fa fa-credit-card"></i> Check out and pay
    </a>
    <a class="btn btn-default" href="{% url "dashboard" %}">Return to dashboard</a>
  </div>

  {% else %}

  <p>You have no items that need to be paid.</p>

  <div class="form-actions">
    <a class="btn btn-default" href="{% url "dashboard" %}">Return to dashboard</a>
  </div>

  {% endif %}

{% endblock %}
