{% extends "registrasion/invoice/details_.html" %}

{% load nbpy_tags %}

{% comment %}
  Blocks that you can override:

  - heading
  - subheading
  - invoice_intro
  - extra_line_items
  - contact_info

{% endcomment %}

{% block heading %}
  {% if invoice.is_paid or invoice.is_refunded %}
    Registration Receipt
  {% else %}
    Pending Registration
  {% endif %}
{% endblock %}

{% block subheading %}
  PyOhio. July 28 &amp; 29, 2018. Columbus, OH.
{% endblock %}

{% block invoice_intro %}
  {% if invoice.is_unpaid %}
    This is a registration summary for PyOhio 2018. It is not confirmed until paid in full.
  {% elif invoice.is_void %}
    This is a void registration summary for PyOhio 2018. It is provided for informational purposes only.
  {% elif invoice.is_refunded %}
    This is a refunded registration summary for PyOhio 2018. It is provided for informational purposes only.
  {% elif invoice.is_paid %}
    This is a confirmed registration summary for PyOhio 2018.
  {% endif %}
{% endblock %}

{% block extra_line_items_after_total %}
  {% donation_income invoice as donation %}
  {% if donation %}
    <tr>
      <td colspan="3">Includes donation eligible for tax deduction in the USA:</td>
      <td class="text-right">${{ donation }}</td>
    </tr>
  {% endif %}
{% endblock %}

{% block contact_info %}
  <p>Direct inquiries to <a href="mailto:info@pyohio.org">info@pyohio.org</a></p>
  <p>PyOhio is run by volunteers from Ohio and the surrounding region.</p>
  <strong>Mailing Address</strong>
  <address>
    
  </address>
{% endblock %}
