Django==1.9.2
pinax-theme-bootstrap==7.3.0
django-user-accounts==1.3.1
metron==1.3.7
pinax-eventlog==1.1.1
dj-static==0.0.6
dj-database-url==0.4.0
pinax-pages==0.4.2
pinax-boxes==2.1.2

# For testing
django-nose==1.4.3
coverage==4.0.3

# Registrasion
https://github.com/chrisjrn/registrasion/tarball/master#egg=registrasion
https://github.com/pinax/symposion/tarball/ad81810#egg=symposion
https://github.com/chrisjrn/registrasion-stripe/tarball/master#egg=registrasion-stripe
