{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Become a Sponsor{% endblock %}

{% block heading %}Become a Sponsor{% endblock %}

{% block body_class %}sponsors{% endblock %}

{% block lede %}

Your generous support builds careers, brings students together with expert developers, and promotes free and open source software. How can we help you? Explore our <a href="/sponsors/prospectus">prospectus</a>.

{% endblock %}

{% block content %}

<h2>Help cultivate the Python community in the North Bay.</h2>

<p>Our base costs, including our venue, printing, web hosting, and more, are all funded through sponsorship. In return, we offer complimentary corporate level tickets, a chance to talk about your company on our main stage, floor space in the lobby to display your free-standing banners, and as much praise as we can deliver in front of 400 grateful Pythonistas.</p>

<p>Below is an overview of sponsorship levels. Please see our <a href="/sponsors/prospectus">prospectus</a> or contact <a href="mailto:sponsor@northbaypython.org">sponsor@northbaypython.org</a> for additional details.</p>

<h2>Package Sponsorship <small>starts at $2000</small></h2>

<p>Package sponsorships are the widest-reaching and best value sponsorships we offer at North Bay Python. When our attendees arrive at the venue, they'll see your signage as they walk through the door. As they're sitting in the theatre, they'll see your logo on the backdrop behind the speakers, and on-screen on between talks. You'll also get the chance to present a short talk about your organization between two of our invited presentations.</p>

<h2>À la Carte Sponsorship <small>starts at $3000</small></h2>

<p>If you're looking for something a bit more exclusive, North Bay Python's À la Carte sponsorships allow you to promote your organization as part of an important offering during the conference, including lanyards, catering, or video branding. We'll also recognize you as a Silver package sponsor, with the opportunity for discounted upgrades to higher package tiers.</p>

<h2>In-Kind Partnerships</h2>

<p>Sponsorship can also be in the form of in-kind donations of goods and services essential to organizing the conference, or in assisting speakers to attend the conference. If you can make a substantial in-kind donation, we will recognize you as a package-level sponsor of equivalent value.</p>

<h2>Community Partnerships<a name="community-partners"></a></h2>

<p>Community groups, such as Python Meetups and PyLadies groups, are the lifeblood of the Python community, and we need your help to put on the best conference we can. If you can help us with one of the following, we'll recognize you as a community partner, which comes with all of the benefits of a Silver sponsorship.</p>

<ul>
  <li>You help us find 10 submissions to our Call for Proposals</li>
  <li>Three members of your group attend at a Supporter level or higher</li>
  <li>You put us in contact with a sponsor who signs on at Silver level or above</li>
  <li>One of your members volunteers with the conference</li>
  <li>Anything else that we agree will make our conference even better</li>
</ul>

{% endblock %}
