{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Become a Sponsor{% endblock %}

{% block heading %}Become a Sponsor{% endblock %}

{% block body_class %}sponsors{% endblock %}

{% block lede %}

Support PyOhio 2018

{% endblock %}

{% block content %}

<p>Ready to sponsor? Email info@pyohio.org to start the process.</p>

<p>Not sure yet?
  See our <a href="{{ URL_PREFIX }}/sponsors/prospectus/">sponsorship prospectus</a>.</p>

<p><em>Self-service sponsor dashbaord coming soon.</em></p>

{% endblock %}
