{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Prospectus{% endblock %}

{% block heading %}PyOhio 2018 Sponsorships{% endblock %}

{% block body_class %}sponsors{% endblock %}

{% block lede %}
Sponsor the conference
{% endblock %}


{% block content %}

<h2>Sponsorship Packages</h2>

<h3>Premier Sponsor - $5000 (limit 1)</h3>
<ul>
    <li>Exclusive mention including company description during opening and closing remarks</li>
    <li>Your logo on the cover of the conference program</li>
    <li>Full-page advertisement in conference program</li>
    <li>Your click-through logo on footer of all pages of the PyOhio 2018 website</li>
    <li>+ All benefits of Platinum Sponsorship</li>
</ul>
<h3>Young Coders Class Sponsor - $3000 (limit 2)</h3>
<ul>
    <li>A thank you for directly supporting kids learning Python programming</li>
    <li>+ All benefits of Platinum Sponsorship</li>
</ul>
<h3>T-Shirt - $3000 (limit 1)</h3>
<ul>
    <li>Your logo will appear conference t-shirts</li>
    <li>+ All benefits of Platinum Sponsorship</li>
</ul>
<h3>Swag Bag - $3000 (limit 1)</h3>
<ul>
    <li>Your logo will appear conference swag bags</li>
    <li>+ All benefits of Platinum Sponsorship</li>
</ul>
<h3>Platinum - $2000 (limit 5)</h3>
<ul>
    <li>Your logo on session videos to be available indefinitely on the Python Video Archive. (Python conference session videos total over 50,000 downloads per month.)</li>
    <li>Full-page advertisement in the conference program</li>
    <li>Logo displayed with click-through on PyOhio 2018 website</li>
    <li>Job listing with description and link on our jobs page</li>
    <li>Table in conference common area</li>
    <li>Ability to display banners in common area and primary lecture hall</li>
    <li>4x t-shirts and parking passes</li>
    <li>Mention in emails to attendees and on social media</li>
    <li>Literature in attendee handouts</li>
</ul>
<h3>Gold - $1000</h3>
<ul>
    <li>Half-page advertisement in conference program</li>
    <li>Logo displayed with click-through on PyOhio 2018 website</li>
    <li>Job listing with description and link on our jobs page</li>
    <li>2x t-shirts and parking passes</li>
    <li>Mention in emails to attendees and on social media</li>
    <li>Literature in attendee handouts</li>
</ul>
<h3>Silver - $500</h3>
<ul>
    <li>Quarter-page advertisement in conference program</li>
    <li>Job listing with description and link on our jobs page</li>
    <li>1x t-shirts and parking passes</li>
    <li>Literature in attendee handouts</li>
</ul>
<h3>Individual - $50</h3>
<ul>
    <li>For <em>individuals only</em></li>
    <li>Limited edition PyOhio Supporter sticker</li>
    <li>Optional name listing on sponsors page as a supporter</li>
</ul>
<h3>Non-Profit - FREE</h3>
<ul>
    <li>Mention in non-profit section of conference program</li>
    <li>Logo displayed with click-through on PyOhio 2018 website</li>
</ul>
<h2>Custom Sponsorship Options</h2>
<p>Interested in sponsoring a specific item (like refreshments, badges, lanyards,
etc.) or looking for a specific benefit not listed? Contact us at info@pyohio.org
to discuss custom sponsorship options!</p>

{% endblock %}
