{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Accessibility and Accommodations{% endblock %}

{% block heading %}Accommodations{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
  We've prepared this guide to help you plan and navigate your experience of North Bay Python events.
{% endblock %}


{% block content %}

This guide summarizes accessibility, accommodations, and known issues. If you have any questions or feedback, please contact us by email at <a href="mailto:hello@northbaypython.org">hello@northbaypython.org</a> or speak to an organizer or volunteer in-person.

<h2>Accessibility</h2>

<ul>
  <li><strong>Vision Issues</strong>: We have seating reserved at the front of the venue.</li>
  <li><strong>Hearing Issues</strong>: We offer live open captioning of every session of the conference.</li>
  <li><strong>Service Animals</strong>: We welcome service animals. There is an area that can be used for responsible animal relief across from the lobby of the venue.</li>
</ul>

<h3>Wheelchair / Mobility Issues</h3>

<p>Our venue was built pre-ADA in 1912 and presents some challenges for people with mobility issues. The lobby, auditorium, and one bathroom have level access. However, the balcony requires use of stairs and bathroom doors and stalls are narrow. We are currently investigating bathroom options for people with mobility issues.</p>

<h2>Accommodations</h2>

<ul>
  <li><strong>Financial Aid / Scholarships</strong>: We want you to be able to attend North Bay Python. You can request a free ticket and <a href="/attend/finaid">apply for financial aid</a>.</li>
  <li><strong>Gender Neutral Bathrooms</strong>: There are two bathrooms in the conference venue, one with urinals and one without. Both are gender neutral.</li>
  <li><strong>Quiet / Rest Area</strong>: You can access a private quiet room and a rest area across the street from the conference venue at WORK Petaluma.</li>
</ul>

<h3>Dietary Restrictions</h3>

<p>We will be providing a small range of drinks and snacks at North Bay Python and will do our best to cater to dietary restrictions noted in your registration. We will not be catering meals and will provide a guide to local stores and restaurants in which we'll highlight each vendor's ability to accommodate dietary restrictions.</p>

<h3>Parents with Children</h3>

<p>We offer access to a private room with power for parents to nurse or pump milk just across the street from the conference venue at WORK Petaluma where parents can also find a bathroom with a changing table.</p>

<p>We are unable to offer childcare this year, but hope to in the future. However, for attendees traveling with their families we offer an activity guide for partners and children.</p>

{% endblock %}
