{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}How to Pitch Your Manager{% endblock %}

{% block heading %}How to Pitch Your Manager{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
So you want to attend North Bay Python, but you're not quite sure your manager will sign off on the expenses? Read below for some suggestions on how to make your case!
{% endblock %}


{% block content %}

<h3>Key Information</h3>
<p>
<ul>
    <li>Dates: Saturday, December 2nd and Sunday, December 3rd, 2017</li>
    <li>Venue: Mystic Theatre, Petaluma, California, USA</li>
    <li>Tickets: $200</li>
</ul>
</p>

<h3>How to Convince Your Boss</h3>

<p>
This comes down to building a <em>business case</em> for your attendance. Start by explaining what the conference is, why you want to go, and why your employer will benefit (we've helpfully included some of the great reasons you might use and some sample prose you're welcome to copy into your email, below).</p>

<p>Explain to your boss what you'll bring back for the rest of the team (ideas, not imbibables): offer to give a summary presentation at lunch, or post a write-up to the company wiki, upon your return. We have some fantastic content in store, and you'll have no trouble finding things to teach your teammates when you get back. Sessions will be recorded and posted to YouTube, so you'll have ready-to-share links for those who want additional detail. You could also share the names, Twitter handles, or business cards from the people you'll meet — some of them might even be interested in working with you!</p>

<h3>Sample Language</h3>
<p>
North Bay Python is a new, non-profit conference by and for the Python community.
</p>

<p>
The conference features over 20 sessions from experienced presenters hailing from across the US and internationally, speaking on a wide mix of topics. Sessions will include updates from leading Python community members on the state of major projects, technical explorations of how Python and Python-based systems work in practice, and thought-provoking explorations and lessons on how best to communicate as a team, foster diversity and inclusivity, and effectively engage within and beyond our teams and communities as developers.
</p>

<p>Full details on the program will be released soon.</p>

<p>
Approximately 400 attendees from a diverse mix of backgrounds will be in Petaluma for the weekend, providing a rich opportunity for networking. Expect to meet key members of your favorite open-source Python projects, fellow developers with novel perspectives on common problems, and maybe even some job-seekers to help bolster your organization's ranks.
</p>

<p>
Organizations funding attendees of North Bay Python can acquire competitive advantage by:
<ul>
    <li>Staying abreast of the latest libraries, services, and best practices in the Python ecosystem</li>
    <li>Learning techniques for architecting, authoring, deploying, and maintaining software</li>
    <li>Improving technical and organizational communication skills</li>
    <li>Networking with fellow Python users to establish potential future working relationships</li>
    <li>Returning to work refreshed and excited by all of the novel ways Python is being used across industries</li>
</ul>
</p>
{% endblock %}
