{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}How to Pitch Your Manager{% endblock %}

{% block heading %}How to Pitch Your Manager{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
  Lede
{% endblock %}


{% block content %}

<h3>Making a Business Case for Attending, or: How to Pitch Your Manager</h3>

<h4>Why Go to Conferences at All?</h4>
<p>Conferences are a fantastic way to broaden your horizons as a Python user and maker of software. You'll hear about new and exciting ways to use Python, best practices for building, testing, and deploying your software and for working together as a team and community of Pythonistas, and more. And that's just from the scheduled talks — during breaks and in the evening, you'll be having coffee or lunch with fellow attendees and discussing whatever strikes your fancy.</p>

<h4>Why Attend North Bay Python?</h4>

<p>If you're in the Bay Area already, North Bay Python is easy to travel to and inexpensive, while maintaining the same commitment to well-curated, world-class content. Many of our speakers have presented at larger Python conferences and other events around the world.</p>

<p>Our community is also a great place to connect with Python users who might be seeking employment, or vendors that might just solve a problem your team has been wrestling with.</p>

<h4>What Does the Company Get?</h4>

<p>Your employer could <a href="/sponsors">sponsor North Bay Python</a><!-- oh god how do I link properly again? -->, putting their brand front and center in front of approximately 400 attendees. Even without a sponsorship, however, a Professional registration gets your employer's name on your badge and demonstrates their commitment to supporting the non-profit events and communities that produce the open-source Python software we all use.</p>

<p>Offer to take notes and summarize the conference for your co-workers — a post-conference report is a good way to show concrete knowledge you acquired and share it with others. Managers love things like this.</p>
{% endblock %}
