{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Emergencies{% endblock %}

{% block heading %}Emergencies{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
  If a person's safety or health are at risk, please call local emergency dispatch at +1 (707) 762-2727 to get the police, fire department, or an ambulance, and then notify event organizers.
{% endblock %}


{% block content %}

<p>Please find an organizer or volunteer if you need to report an issue or ask a question. If it's not urgent, email us at <a href="mailto:safety@northbaypython.org">safety@northbaypython.org</a>. If there is imminent danger, please call local emergency dispatch at +1 (707) 762-2727 (the local number for 911) first.</p>

<h2>Emergency Dispatch</h2>

<p>911 is the number to dial to reach emergency dispatch in the United States. If you are dialing from a mobile phone, dial +1 (707) 762-2727 so that you are immediately connected with Petaluma's emergency dispatchers. You can find more information on the website for the <a href="http://cityofpetaluma.net/police/">City of Petaluma Police Department</a>.</p>

<h2>Code of Conduct Incident Reporting</h2>

<p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff. Conference staff will be wearing t-shirts and/or badges that clearly identify them as staff. You can email the incident response team at <a href="mailto:safety@northbaypython.org">safety@northbaypython.org</a>. You may also contact venue staff and ask to be put in touch with conference chair <a href="mailto:chrisjrn@northbaypython.org">Christopher Neugebauer</a>.</p>

<p>If the matter is especially urgent, please dial our Code of Conduct incident hotline +1 (707) 755-7357. This number will automatically route to a member of the conference staff who can render assistance.</p>

<p>For more information:</p>

<ul>
  <li><a href="/code-of-conduct">Code of Conduct</a></li>
  <li><a href="/code-of-conduct/harassment-incidents">Attendee procedure for incident handling</a></li>
  <li><a href="/code-of-conduct/harassment-staff-procedures">Staff procedure for incident handling</a></li>
</ul>

<h2>Hospitals</h2>

<h3>Emergency Room</h3>

<p><a href="https://www.stjoesonoma.org/contact-us/locations-and-directions/petaluma-valley-hospital-emergency-department/">Petaluma Valley St. Joseph Emergency Room</a>, 1.9 miles from the conference venue, is open 24/7 and can be reached by phone at +1 (707) 778-1111.</p>

<p>400 North McDowell Blvd.<br/>
Petaluma, CA 94954</p>

<h3>Petaluma Health Center</h3>

<p><a href="http://phealthcenter.org/">Petaluma Health Center</a>, 3 miles from the conference venue, is a community health center that accepts patients with or without insurance and offers a sliding scale for assessing fees. You must call +1 (707) 559-7500 to make an appointment, or +1 (707) 559-7602 for dental appointments.</p>

<p>1179 North McDowell Blvd.<br/>
Petaluma, CA 94954</p>

<h3>Sutter Walk-In Care</h3>

<p><a href="https://www.sutterhealth.org/find-location/city/petaluma/walk-in-care">Sutter Health Walk-In Care</a>, 2.1 miles from the conference venue, is open from 8 AM to 8 PM every day and does not require you to make an appointment. You can call them at +1 (800) 972-5547.</p>

<p>411 North McDowell Blvd.<br/>
Unit 41 Suite 10</br>
Petaluma, CA 94954</p>

<h2>Pharmacies</h2>

<p>Here is a listing of local pharmacies ordered by distance from the conference venue:</p>

<ul>
  <li>CVS on 365 East Washington St. (0.4 miles away)</li>
  <li>Target on 401 Kenilworth Dr. (1.1 miles away)</li>
  <li>Safeway on 389 South McDowell Blvd. (1.7 miles away)</li>
  <li>Raley's on 157 North McDowell Blvd. (1.7 miles away)</li>
</ul>

{% endblock %}
