{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Financial Aid{% endblock %}

{% block heading %}Financial Aid{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
Part of the Python community spirit is making knowledge &ndash; and access to the community &ndash; available to everyone who needs it. If don't live near Petaluma and need help getting here, we want to help out.
{% endblock %}

{% block content %}

<h2>What We'll Cover</h2>

<p>Our mission is to provide an accessible Python conference to everyone in Northern California. We understand that some people will need to travel for 2 or more hours to get to Petaluma, and that the costs of transport and lodging can add up. Our grants are intended to make your weekend at North Bay Python cost about as much as a weekend at home would cost.</p>

<p>If you're selected to receive financial aid, we'll cover the following for you:</p>

<ul>
  <li><strong>Ground transportation</strong>, up to $70 return: including public transit, including reasonable cab/rideshare fares between the venue and accommodation in Petaluma.</li>
  <li><strong>Accommodation subsidy</strong>, up to $80 per night, for up to 3 nights.</li>
  <li><strong>Free ticket</strong> to the conference.</li>
</ul>

<p>These subsidies are designed to make the conference affordable, no matter where you live in Northern California. You are still eligible even if you don't live close to Petaluma, however, we will not subsidise the cost of flights.</p>

<h2>Apply</h2>

 <p>To apply, please <a href="https://docs.google.com/forms/d/1SSzTFHWCpb_PcEyOTwZ9JhDyJxS8CH8-aiCO3DUQCiU/viewform">fill out the application form</a>.</p>

 <p><strong>Applications will be assessed every Friday, starting November 10th</strong> until November 24th, or our budget is exhausted, whichever comes first. To increase your chances of getting accepted, <strong>please apply as soon as possible.</strong></p>

 <h3>Application Information</h3>

 <p>In the application, you'll need to tell us the following:</p>

 <ul>
   <li>Your name</li>
   <li>Your company/organization</li>
   <li>Why you want to come to North Bay Python</li>
   <li>Where you're traveling from</li>
 </ul>

<p>The form shouldn't take more than 10 minutes for you to fill out.</p>


{% endblock %}
