{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Lunch Guide{% endblock %}

{% block heading %}Lunch Guide{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
  Finding food is easy in Petaluma, especially with this guide to local restaurants and markets sponsored by Yelp.
{% endblock %}


{% block content %}

<h2>Nearby, Fast, and Cheap</h2>

<ul>
  <li><strong><a href="https://www.yelp.com/biz/the-new-yorker-pizza-and-restaurant-petaluma">New Yorker Pizza</a></strong>: 3 Petaluma Blvd N (next door!)</li>
  <li><strong><a href="https://www.yelp.com/biz/lunchette-petaluma">Lunchette</a></strong>: 25 4th St (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/north-bay-cafe-petaluma-3">North Bay Cafe</a></strong>: 25 Petaluma Blvd S (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/petaluma-pie-company-petaluma">Petaluma Pie Company</a></strong>: 125 Petaluma Blvd N (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/petaluma-market-petaluma">Petaluma Market</a></strong>: 210 Western Ave (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/subway-petaluma-4">Subway</a></strong>: 151 Petaluma Blvd S (0.2 miles)</li>
</ul>

<h2>Coffee</h2>

<ul>
  <li><strong><a href="https://www.yelp.com/biz/acre-coffee-petaluma-2">Acre Coffee</a></strong>: 21 4th St (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/peets-coffee-petaluma">Peets Coffee</a></strong>: 5 Petaluma Blvd S (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/starbucks-petaluma-12">Starbucks</a></strong>: 125 Petaluma Blvd N (0.1 miles)</li>
</ul>

<h2>Diners</h2>

<ul>
  <li><strong><a href="https://www.yelp.com/biz/north-bay-cafe-petaluma-3">North Bay Cafe</a></strong>: 25 Petaluma Blvd S (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/topsys-kitchen-petaluma">Topsy's Kitchen</a></strong>: 131 Kentucky St (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/hallies-diner-petaluma">Hallie's Diner</a></strong>: 125 Keller St (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/saxs-joint-petaluma">Sax's Joint</a></strong>: 317 Petaluma Blvd S (0.3 miles)</li>
</ul>

<h2>Pizza and Italian</h2>

<ul>
  <li><strong><a href="https://www.yelp.com/biz/the-new-yorker-pizza-and-restaurant-petaluma">New Yorker Pizza</a></strong>: 3 Petaluma Blvd N (next door!)</li>
  <li><strong><a href="https://www.yelp.com/biz/old-chicago-pizza-petaluma">Old Chicago Pizza</a></strong>: 41 Petaluma Blvd N (next door!)</li>
  <li><strong><a href="https://www.yelp.com/biz/brixx-pizzeria-petaluma-petaluma">Brixx Pizzeria</a></strong>: 16 Kentucky St (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/cucina-paradiso-petaluma">Cucina Paradiso</a></strong>: 114 Petaluma Blvd N (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/risibisi-restaurant-petaluma">Risibisi Restaurant</a></strong>: 154 Petaluma Blvd N (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/sugo-trattoria-petaluma">Sugo Trattoria</a></strong>: 5 Petaluma Blvd S (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/rosso-pizzeria-and-mozzarella-bar-petaluma">Rosso Pizzeria &amp; Mozzarella Bar</a></strong>: 151 Petaluma Blvd S (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/volpis-ristorante-and-bar-petaluma-2">Volpi's Ristorante &amp; Bar</a></strong>: 124 E Washington St (0.3 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/marys-pizza-shack-petaluma">Mary’s Pizza Shack</a></strong>: 359 E Washington St (0.4 miles)</li>
</ul>

<h2>Pubs</h2>

<ul>
  <li><strong><a href="https://www.yelp.com/biz/mcnears-saloon-and-dining-house-petaluma">McNear's Saloon &amp; Dining House</a></strong>: 23 Petaluma Blvd N (next door!)</li>
  <li><strong><a href="https://www.yelp.com/biz/speakeasy-petaluma">Speakeasy</a></strong>: 139 B Petaluma Blvd N (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/brewsters-beer-garden-petaluma">Brewsters Beer Garden</a></strong>: 229 Water Street N (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/256-north-petaluma">256 North</a></strong>: 256 Petaluma Blvd N (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/sauced-bbq-and-spirits-petaluma-3">Sauced BBQ &amp; Spirits</a></strong>: 151 Petaluma Blvd S (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/maguires-pub-petaluma-2">Maguire's Pub</a></strong>: 145 Kentucky St (0.3 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/dempseys-restaurant-and-brewery-petaluma">Dempsey's Restaurant &amp; Brewery</a></strong>: 50 E Washington St (0.4 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/taps-beer-co-and-kitchen-petaluma-4">Taps Beer Co &amp; Kitchen</a></strong>: 54 E Washington St (0.4 miles)</li>
</ul>

<h2>Other</h2>

<ul>
  <li><strong><a href="https://www.yelp.com/biz/water-street-bistro-petaluma">Water Street Bistro</a> (French)</strong>: 100 Petaluma Blvd N (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/sake107-petaluma">Sake 107</a> (Japanese)</strong>: 107 Petaluma Blvd N (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/the-cbc-cafe-petaluma">CBC Cafe</a></strong>: 21 Kentucky St (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/slamburger-petaluma">Slamburger</a></strong>: 5 Petaluma Blvd S (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/wild-goat-bistro-petaluma">Wild Goat Bistro</a> (Modern American)</strong>: 6 Petaluma Blvd N (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/mi-pueblo-petaluma-petaluma">Mi Pueblo El Centro</a> (Mexican)</strong>: 108 Kentucky St (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/graffiti-petaluma">Graffiti</a> (Modern American)</strong>: 101 2nd St (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/thistle-meats-petaluma">Thistle Meats</a> (Deli)</strong>: 160 Petaluma Blvd N (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/kabuki-japanese-restaurant-petaluma">Kabuki Japanese Restaurant</a></strong>: 17 Petaluma Blvd N (0.1 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/chicken-pharm-petaluma">Chicken Pharm</a> (Fried Chicken)</strong>: 132 Keller St (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/cafe-zazzle-petaluma">Cafe Zazzle</a> (Mexican, Asian)</strong>: 121 Kentucky St (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/tea-room-café-petaluma-2">Tea Room Cafe</a></strong>: 316 Western Ave (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/everest-indian-restaurant-petaluma">Everest Indian Restaurant</a></strong>: 56 E Washington St (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/jennie-lows-chinese-cuisine-petaluma">Jennie Low's Chinese Cuisine</a></strong>: 140 2nd St (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/crocodile-petaluma">Crocodile</a> (French)</strong>: 140 2nd St (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/fourth-and-sea-fish-and-chips-petaluma">Fourth and C</a> (Seafood)</strong>: 101 4th St (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/paradise-sushi-and-grill-petaluma">Paradise Sushi &amp; Grill</a></strong>: 20 E Washington St (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/the-drawing-board-petaluma">The Drawing Board</a> (Modern American)</strong>: 190 Kentucky St (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/kitaru-petaluma-3">Kitaru</a> (Japenese)</strong>: 212 Western Ave (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/chinatown-restaurant-petaluma">Chinatown Restaurant</a></strong>: 157 Kentucky St (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/seared-petaluma">Seared</a> (Steakhouse, Seafood)</strong>: 170 Petaluma Blvd N (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/tup-tim-thai-cuisine-petaluma">Tup Tim Thai Cuisine</a></strong>: 208 Petaluma Blvd N (0.2 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/thai-river-petaluma">Thai River</a></strong>: 35 E Washington St (0.3 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/the-block-petaluma-2">The Block Petaluma</a> (Pub, Food Trucks)</strong>: 20 Grey St (0.3 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/real-döner-petaluma-3">Real Döner</a> (Turkish)</strong>: 307 F St (0.4 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/quinua-restaurant-cocina-peruana-petaluma">Quinua</a> (Peruvian)</strong>: 500 Petaluma Blvd S (0.4 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/luma-petaluma">Luma</a> (Cafe)</strong>: 500 1st St (0.5 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/aqus-cafe-petaluma">Aqus Cafe</a></strong>: 189 H St (0.5 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/el-roys-mexican-grill-petaluma-2">El Roy's Mexican Grill</a></strong>: 210 Edith St (0.7 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/in-n-out-burger-petaluma-2">In’n’Out Burger</a></strong>: 1010 Lakeville Hwy (1.3 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/soban-korean-cuisine-petaluma">Soban Korean Cuisine</a></strong>: 255 N McDowell Blvd (1.8 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/simmer-vietnamese-kitchen-petaluma">Simmer Vietnamese Kitchen</a></strong>: 299 N McDowell Blvd (1.9 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/lombardis-gourmet-deli-and-bbq-petaluma">Lombardi's Gourmet Deli &amp; BBQ</a></strong>: 3413 Petaluma Blvd N (2.3 miles)</li>
  <li><strong><a href="https://www.yelp.com/biz/lagunitas-brewing-company-petaluma-2">Lagunitas Tap Room</a></strong>: 1280 N. McDowell Blvd (3.3 miles)</li>
</ul>

{% endblock %}
