{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Guide Index{% endblock %}

{% block heading %}Guide Index{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
  We provide lots of info to help you have an excellent North Bay Python. This is a listing of all the key guides and wiki pages.
{% endblock %}


{% block content %}

<p>We want it to make it easy for you to attend North Bay Python, and we want you to have the best possible experience while you're at the conference. This is a listing of all the guides we've prepared for you, including some key pages from the <a href="/wiki">Attendee Wiki</a>.</p>

<p>Please feel free to email us at <a href="mailto:hello@northbaypython.org">hello@northbaypython.org</a> or find an organizer or volunteer in-person to ask questions and provide feedback.</p>

<h2>Planning for North Bay Python</h2>

<ul>
  <li><strong><a href="/attend/business-case">How to Pitch Your Manager</a></strong> can help you articulate the business case for paying for you to go to North Bay Python to your manager.</li>
  <li><strong><a href="/attend/travel">How to Get Here</a></strong> covers traveling to and from the conference, including driving, flying, and public transportation.</li>
  <li><strong><a href="/wiki/ride-sharing/">Ride Sharing</a></strong> with other attendees can help you meet other attendees - and save money!</li>
  <li><strong><a href="/wiki/room-sharing/">Room Sharing</a></strong> with other attendees can reduce the cost of lodging.</li>
  <li><strong><a href="/attend/hotels">Where to Stay</a></strong> will help you navigate local lodging with a listing of options alongside info about distance and cost.</li>
</ul>

<h2>During the Conference</h2>

<ul>
  <li><strong><a href="/attend/accessibility-and-accommodations">Accessibility and Accommodations</a></strong> includes information for: parents; people with vision, hearing, and mobility issues; and people with dietary restrictions.</li>
  <li><strong><a href="/attend/emergencies">Emergencies</a></strong> might involve the Code of Conduct, contacting organizers, calling the police, or finding a hospital or pharmacy.</li>
  <li><strong><a href="/attend/food">Finding Food</a></strong> is easy in Petaluma, especially with this guide to local restaurants and markets sponsored by Yelp.</li>
  <li><strong><a href="/wiki/fitness">Fitness</a></strong> doesn't need to take a backseat while at North Bay Python, we have information about gyms and pools as well as running and hiking paths.</li>
  <li><strong><a href="/attend/transit">Getting Around P'town</a></strong> has key distances and details about taxis, busses, and walking paths.</li>
  <li><strong><a href="/wiki/meetups">Meetups</a></strong> and birds of a feather sessions are great ways to connect with other attendees. Find and attend one or organize your own!</li>
  <li>Guide coming soon: <strong><!--a href="/wiki/activities"-->Partner- and Family-friendly Activities<!--/a--></strong> for folks who are bringing their families along to Sonoma County.</li>
  <li><strong><a href="/code-of-conduct/harassment-incidents">Report Incidents</a></strong> as per our <a href="/code-of-conduct">Code of Conduct</a>. We have procedure guides for <a href="/code-of-conduct/harassment-incidents">attendees</a> as well as <a href="/code-of-conduct/harassment-staff-procedures">staff and volunteers</a>.</li>
  <li>Guide coming soon: <strong><!--a href="/wiki/tourist-guide"-->Tourist Guide<!--/a--></strong> for those who are staying in Sonoma County before or after North Bay Python.</li>
</ul>

{% endblock %}
