{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Where to Stay{% endblock %}

{% block heading %}Where to Stay{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
{% endblock %}

{% block content %}

<p><em>We do not have an official hotel block this year however there are a
    number of nearby hotels available.</em></p>

<p>Traditionally many PyOhio attendees stay at
<a href="https://www.theblackwell.com/">The Blackwell</a> which is located on
the OSU campus, a short distance from The Ohio Union.</p>

<p>A number of other hotels are also <a href="http://bit.ly/2EVrijC">located in
    the area</a>.</p>

{% endblock %}
