{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Where to Stay{% endblock %}

{% block heading %}Where to Stay{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
  Lede
{% endblock %}


{% block content %}

Content

<!--

<h3>Staying Here</h3>

<p>Petaluma also has hotels! We're arranging deals with some of the best local hotels in the area &ndash; the closest is just one block away. We'll share details with you when conference tickets go on sale.</p>

# Confirmed and co-operating:

- Hotel Petaluma: Two blocks away. Exclusive rate, starts at $117+tax.
- Sheraton: 1.7mi away, on the river. Exclusive rate, starts at $129+tax
- Quality Inn: 3.7mi away, on the freeway. Discount rate (15% off the
public rate), currently starts at $81+tax



# In progress + likely:

- America's Best Value Inn: 3.7mi away, on the freeway. Working on an
exclusive rate, with some rooms held (they want a credit card to hold
rooms). Currently starts at $70+tax.


# In progress + questionable

- Best Western: 1.5mi away, on the freeway. They offer 10% off for
people who sign up for their mailing list, or AAA members. Currently
starts at $75+tax.


# Not yet contacted:

- Motel 6: 3.7mi away, near the freeway. Opposite Lagunitas. Currently
starts at $70+tax.


Won't contact, but will advertise:

KOA camping+cabins: 3.7mi away, near the freeway. Have 3-bed cabins
with bathrooms for $99, and 6-bed cabins with bathrooms for $149.

-->

{% endblock %}
