{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Where to Stay{% endblock %}

{% block heading %}Where to Stay{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
{% endblock %}


{% block content %}

<h2>Official Hotels</h2>

<p>Conference Hotel details TBD</p>

<h2>Nearby Hotels</h2>

<p><a href="https://www.theblackwell.com/">The Blackwell</a> is located on the OSU campus, a short distance from the Ohio Union.</p>
<p>A number of other hotels are also <a href="https://goo.gl/maps/Uaq757BeDR62">located in the area</a>.</p>
{% endblock %}
