{% extends "page_with_title_and_lede.html" %}

{% load i18n %}
{% load markdown_deux_tags %}

{% block head_title %}Register{% endblock %}

{% block heading %}Register to attend PyOhio!{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}

{% endblock %}


{% block content %}

<a class="h2" href="https://ti.to/pyohio/pyohio-2018">Register for PyOhio here!</a>

<h2>Free Conference Registration</h2>

<p>Please register using the link above if you plan on attending PyOhio so we can print a badge for you ahead of time and so we can know how many people to expect.</p>

<p><strong>Note:</strong> If you find that you will not be able to attend PyOhio after you've registered, please cancel your registration via the "Change Details" link on the ticket email or send a message to <a href="mailto:info@pyohio.org">info@pyohio.org</a>.</p>

<h2>T-Shirts</h2>

<p>We have two t-shirt styles available this year (the same ones as last year):</p>

<ul>
    <li>Next Level Apparel 3300L "Women's Perfect Tee" <a href="https://www.nextlevelapparel.com/index.php/womens/perfect-tee.html">3300L sizing info</a></li>
    <li>Next Level Apparel 3600 "Men's Cotton Crew" <a href="https://www.nextlevelapparel.com/mens/mens-cotton-crew.html">3600 sizing info</a></li>
</ul>

<p><em>T-shirt design will be revealed soon. Details will be posted here and on our mailing list.</em></p>

<h2>Donations</h2>

<p>We are able to keep PyOhio registration free thanks to our sponsors and individual donations.
Individuals donating $50 or more will be recognized as individual supporters on the website (if they wish.)</p>

{% endblock %}
