{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Getting Around P'town{% endblock %}

{% block heading %}Getting Around P'town{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
  Petaluma is, for the most part, very walkable. However, you can use public transit or taxis and  can find ample parking to help with the rest.
{% endblock %}


{% block content %}

<p>The Mystic and Hotel Petaluma are both located in Downtown Petaluma which is compact and walkable, but some hotels are further afield and you may find a need for taxis or public transit. Here you'll find a guide to local transit. You can find information about parking on the <a href="{{ URL_PREFIX }}/attend/travel">Travel</a> page.</p>

<h2>Public Transit</h2>

<h3>Getting around Petaluma</h3>

<p><a href="http://transit.cityofpetaluma.net/">Petaluma Transit</a> busses are one way of getting around town. There are two major transit hubs: Copeland Transit Mall near downtown, and Eastside Transit Center on the east side of Highway 101. Bus route 11 connects the two transit hubs.</p>

<p>Route 2 runs on the east side of town, including by the Quality Inn. Route 10 and 11 run through downtown by the conference venue. Route 11 runs by the Best Western. Route 24 runs by the Sheraton, but like route 10, does not run on Sunday.</p>

<h3>Getting around Sonoma County</h3>

<p>There are two public transit options for getting around Sonoma County, including the <a href="http://sonomamarintrain.org/">SMART train</a> and <a href="http://sctransit.com/">Sonoma County Transit busses</a>. Both the <a href="https://goo.gl/maps/2E9Su6GJiFP2">train station</a> and the <a href="https://goo.gl/maps/jskmwX4FgM12">bus transit mall</a> are located across the river, a short distance away from the conference venue.</p>

<h2>Taxis</h2>

<p>There are a handful of taxi companies you can catch a ride with in Petaluma. You can also find rides using popular ride sharing apps.</p>

<ul>
  <li>A1 Taxi at +1 (707) 763-3393</li>
  <li>J's Taxi at +1 (707) 364-1544</li>
  <li>Petaluma Green Taxi at +1 (707) 769-8294</li>
</ul>

{% endblock %}
