{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}How to Get Here{% endblock %}

{% block heading %}How to Get Here{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
  Chances are you're probably not in Petaluma, so if you want to come to North Bay Python, then you'll need to get here somehow. The good news is that it's reasonably easy to get here, whether you're coming from Sonoma County, elsewhere in the Bay Area, or from further out of town.
{% endblock %}


{% block content %}

<h2>Getting Here</h2>

<h3>By Car</h3>

<p>If you're driving up, Downtown Petaluma is at exit 472A on Highway 101, 35 miles north of the Golden Gate Bridge.</p>

<p>All parking is free in Petaluma, however near the Mystic, street-level parking is time-limited. All-day parking is available at street level west of 5th St (towards 6th St), and at the the undercover garages at <a href="https://www.google.com/maps/place/Keller+Street+Parking+Garage">Keller St</a> and at Theatre Square. Both garages are in short walking distance of the Mystic.</p>


<h3>By Public Transit</h3>

<p>Public transit to Petaluma is not great.</p>

<p>You can take the 101 bus operated by Golden Gate Transit from downtown San Francisco, or south from Santa Rosa. Depending on sponsorship, we hope to run a free shuttle with BART and Caltrain connections for people from further out of town.</p>

<p>SMART, the new train service that runs along the 101 corridor recently started operating, however, the earliest weekend service is in the late morning, and you'll get to Petaluma too late.</p>


<h3>By Plane</h3>

<p>Petaluma is within driving distance of all Bay Area Airports.</p>

<p>If you're coming from out of the area, you may want to consider Sonoma County Airport (STS). STS is 30 minutes out of Petaluma, and has nonstop flights to most major west coast cities.</p>

<p>If you can't make it to STS, you can also try San Francisco (SFO) or Oakland (OAK) international airports. The Sonoma County Airport Express bus links SFO and OAK airports with Petaluma.</p>

<p>If you happen to have an aircraft of your own, Petaluma Municipal Airport is 3 miles down the road.</p>

{% endblock %}
