{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}How to Get Here{% endblock %}

{% block heading %}How to Get Here{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
  Chances are you're probably not in Petaluma, so if you want to come to North Bay Python, then you'll need to get here somehow. The good news is that it's reasonably easy to get here, whether you're coming from Sonoma County, elsewhere in the Bay Area, or from further out of town.
{% endblock %}


{% block content %}

<h2>By Car</h2>

<p>If you're driving up, Downtown Petaluma is at exit 472A on Highway 101, 35 miles north of the Golden Gate Bridge.</p>

<p>All parking is free in Petaluma, however near the Mystic, street-level parking is time-limited. All-day parking is available at street level west of 5th St (towards 6th St), and at the the undercover garages at <a href="https://www.google.com/maps/place/Keller+Street+Parking+Garage">Keller St</a> and at Theatre Square. Both garages are in short walking distance of the Mystic.</p>


<h2>By Public Transit</h2>

<p>Public transit to Petaluma is currently not great.</p>

<p>You can take the <a href="http://goldengatetransit.org/schedules/current/route_101.php">101 bus operated by Golden Gate Transit</a> from downtown San Francisco, or south from Santa Rosa. Depending on sponsorship, we hope to run a free shuttle with BART and Caltrain connections for people from further out of town.</p>

<p><a href="https://sonomamarintrain.org">SMART</a>, the new train service that runs along the 101 corridor, recently started operations. SMART is not suitable for getting to North Bay Python if you travel on weekends, as the first train leaves after proceedings start. SMART may be a better option than taking the bus between San Rafael and Petaluma if you travel up on weekdays.</p>


<h2>By Plane</h2>

<p>Petaluma is within driving distance of all Bay Area Airports, and each airport has varying levels of public transit links to Petaluma.</p>

<h4>Sonoma County Airport (STS) <small>25mi from venue</small></h4>

<p>STS is 30 minutes out of Petaluma, and has nonstop flights to most major west coast cities on Alaska, United, and American.</p>

<p>On weekdays and weekend afternoons, <a href="https://sonomamarintrain.org">SMART train</a> runs from STS to Downtown Petaluma Station, 1/4mi away from the North Bay Python venue. STS is also serviced by the <a href="http://airportexpressinc.com/schedule.php">Sonoma County Airport Express</a> bus.</p>

<h4>San Francisco International (SFO)/Oakland International (OAK) <small>50mi from venue</small></h4>

<p>If you can't make it to STS, you can also try San Francisco (SFO) or Oakland (OAK) international airports. These have many more flights than STS, but are twice the distance away, and are subject to more highway traffic between the airport and Petaluma.</p>

<p>Transfers to Petaluma are available through the <a href="http://airportexpressinc.com/schedule.php">Sonoma County Airport Express</a>.</p>

<h4>San Jose International (SJC)/Sacramento (SMF) <small>85mi from venue</small></h4>

<p>If you're planning on renting a car, San Jose (SJC) or Sacramento (SMF) are both two hours drive away.</p>

<h4>Petaluma Municipal <small>3mi from venue</small></h4>

<p>If you happen to have an aircraft of your own, Petaluma Municipal Airport is 3 miles down the road.</p>

{% endblock %}
