{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}T-Shirts{% endblock %}

{% block heading %}T-Shirt sizes and cuts{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}

{% endblock %}

{% block content %}

<p>North Bay Python uses Gildan t-shirts, and this year's design will be available in a variety of colours that you can choose from when you collect your shirt. There are three varieties available:</p>

<ul>
  <li>The Men's/Straight-Cut option is the <a href="http://www.mygildan.com/store/us/browse/productDetailsPage.jsp?productId=2000">Ultra Cotton "Classic Fit" shirt</a>.</li>
  <li>The Women's Semi-Fitted option is the <a href="http://www.mygildan.com/store/us/browse/productDetailsPage.jsp?productId=5000L">Heavy Cotton Semi-Fitted Ladies' shirt</a></li>
  <li>The Women's Relaxed Fit option is the <a href="http://www.mygildan.com/store/us/browse/productDetailsPage.jsp?productId=2000L">Ultra Cotton "Classic Fit" Ladies' shirt</a></li>
</ul>

<table class="table table-striped">
  <tbody><tr>
    <th></th>
    <th colspan="2">XS</th>
    <th colspan="2">S</th>
    <th colspan="2">M</th>
    <th colspan="2">L</th>
    <th colspan="2">XL</th>
    <th colspan="2">2XL</th>
    <th colspan="2">3XL</th>
    <th colspan="2">5XL</th>
</tr>
<tr>
    <th></th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
</tr>
<tr>
    <td>Men's / Straight Cut</td>
    <td>-</td>
    <td>-</td>
    <td>18</td>
    <td>28</td>
    <td>20</td>
    <td>29</td>
    <td>22</td>
    <td>30</td>
    <td>24</td>
    <td>31</td>
    <td>26</td>
    <td>32</td>
    <td>28</td>
    <td>33</td>
    <td>32</td>
    <td>35</td>
</tr>
<tr>
    <td>Women's <br> Semi-Fitted</td>
    <td>-</td>
    <td>-</td>
    <td>17&frac14;</td>
    <td>25&frac12;</td>
    <td>19&frac14;</td>
    <td>26</td>
    <td>21&frac14;</td>
    <td>27</td>
    <td>23.35</td>
    <td>28</td>
    <td>25&frac14;</td>
    <td>28&frac12;</td>
    <td>27&frac14;</td>
    <td>29</td>
    <td>-</td>
    <td>-</td>
</tr>
<tr>
    <td>Women's <br> Classic Fit</td>
    <td>16</td>
    <td>23&frac12;</td>
    <td>18</td>
    <td>25</td>
    <td>20</td>
    <td>26</td>
    <td>22</td>
    <td>27</td>
    <td>24</td>
    <td>28</td>
    <td>26</td>
    <td>29</td>
    <td>28</td>
    <td>30</td>
    <td>-</td>
    <td>-</td>
</tr>
</tbody></table>


{% endblock %}
