{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Transparency Reports{% endblock %}

{% block heading %}Transparency Reports{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}
  North Bay Python, a nonprofit community-run event committed to transparency, releases the following reports in order to help us learn and better serve the community.
{% endblock %}

{% block content %}

<h2>Program Transparency Report</h2>

<p><span class="date">Tuesday, October 24, 2017</span>&mdash;The North Bay Python organizing team's goal is to build a program with sessions and keynotes that are valuable to the attendees, and to do so ethically. We recognized some known issues, and that our knowledge is limited, so we reached out to the community and took steps to run the best and most fair program building process we could.</p>

<a class="btn btn-lg btn-primary" href="/about/program-transparency">Read the Report</a>

<h2>Upcoming Reports</h2>

<p>We will release reports about attendee demographics, our budget, and other topics in the future. They will all be listed on this page.</p>

{% endblock %}