{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Colophon{% endblock %}

{% block heading %}Colophon{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}

<h2>Call for Proposals</h2>

<p>Portions of our Call for Proposals page were drawn from ideas seen on <a href="https://djangocon.eu">DjangoCon EU</a>, <a href="https://seagl.org">SeaGL</a>, <a href="http://www.fogcityruby.com/speak/">Fog City Ruby</a>, and others. Thanks to all for their inspiration and permission to borrow!</p>

<h2>Code of Conduct</h2>

<p>Our <a href="/code-of-conduct">Code of Conduct</a> was forked from the <a href="https://github.com/python/pycon-code-of-conduct">PyCon US Code of Conduct</a>, including the staff and attendee guides, under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a> license, itself originally forked from the example policy from the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism wiki</a>, created by the <a href="https://adainitiative.org/">Ada Initiative</a> and other volunteers, which is under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero</a> license.</p>

<h2>Fiscal Sponsor</h2>

<p>Our fiscal sponsor is <a href="https://sfconservancy.org">Software Freedom Conservancy</a>, a 501(c)(3) charity dedicated to the promotion and development of free and open source software. Conservancy allows us to work without managing our own corporate structure and administrative services. Our relationship with Conservancy goes beyond logistics, though, as we are also philosophically aligned as we work to advance software freedom and expand the Python developer community.</p>

<h2>Photography</h2>

<ul>
  <li>Photo of <a href="https://www.instagram.com/p/BU-G5dGAkHt">Mystic Theatre</a> used on the home page by Christopher Neugebauer under the <a href="https://creativecommons.org/licenses/by-sa/2.0/" >Creative Commons Attribute Share Alike 2.0 Generic</a> license.</li>
  <li>Photo of <a href="https://www.flickr.com/photos/richard_jones/14638274749">DjangoGirls Brisbane 2014</a> used on the home page by Richard Jones under the <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution 2.0 Generic</a> license.</li>
</ul>

<h2>Python</h2>

<p>"Python" and the Python logos are trademarks or registered trademarks of the <a href="https://python.org">Python Software Foundation</a>, used by North Bay Python with permission from the Foundation.</p>

<h2>Terms and Conditions</h2>

<p>
  Our Photography and Audio Video Recording policy is adapted from the <a href="https://evergreen-ils.org/conference/photography-policy/">Evergreen policy</a>, itself adapted from the <a href="https://adacamp.org/adacamp-toolkit/policies/#photo">AdaCamp policy</a> under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution Share Alike 4.0 International</a> license.</p>

<h2>Web Application</h2>

<p>Our website is powered by a heap of free and open source software, most notably:</p>

<ul>
  <li><a href="https://www.djangoproject.com/">Django</a> is the web framework that underpins everything else.</li>
  <li><a href="https://github.com/chrisjrn/symposion/">Symposion</a> is used for the call for proposals and session scheduling.</li>
  <li><a href="http://github.com/chrisjrn/registrasion/">Registrasion</a> is used for ticket sales.</li>
  <li><a href="https://inkscape.org/">Inkscape</a> is used to create most of our graphics.</li>
</ul>

{% endblock %}
