{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Colophon{% endblock %}

{% block heading %}Colophon{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}

<h2>Call for Proposals</h2>

<p>Portions of our <a href="{{ URL_PREFIX }}/program/call-for-proposals">Call for Proposals</a> page were drawn from ideas seen on <a href="https://djangocon.eu" title="DjangoCon Europe">DjangoCon EU</a>, <a href="https://seagl.org" title="Seattle GNU Linux">SeaGL</a>, <a href="http://www.fogcityruby.com/speak/" title="Fog City Ruby">Fog City Ruby</a>, <a href="https://2017.northbaypython.org/program/call-for-proposals">North Bay Python</a>, and others. Thanks to all for their inspiration and permission to borrow!</p>

<h2>Code of Conduct</h2>

<p>Our <a href="{{ URL_PREFIX }}/code-of-conduct">Code of Conduct</a> was forked from the <a href="https://github.com/python/pycon-code-of-conduct">PyCon US Code of Conduct</a>, including the staff and attendee guides, under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a> license, itself originally forked from the example policy from the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism wiki</a>, created by the <a href="https://adainitiative.org/">Ada Initiative</a> and other volunteers, which is under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero</a> license.</p>

<h2>Photography</h2>

<ul>
  <li>Photo Credits (and photos) coming soon!
</ul>

<h2>Python</h2>

<p>"Python" and the Python logos are trademarks or registered trademarks of the <a href="https://python.org">Python Software Foundation</a>, used by North Bay Python with permission from the Foundation.</p>

<!--h2>Our Logo</h2-->

<h2>Web Application</h2>

<p>Our website is powered by a heap of free and open source software, most notably:</p>

<ul>
  <li><a href="https://www.djangoproject.com/">Django</a> is the web framework that underpins everything else.</li>
  <li><a href="https://github.com/chrisjrn/symposion/">Symposion</a> is used for the call for proposals and session scheduling.</li>
  <li><a href="http://github.com/chrisjrn/registrasion/">Registrasion</a> is used for ticket sales.</li>
</ul>

<p>And the wonderful contributions of North Bay Python website team on which the foundations of this website is built!</p>

{% endblock %}
