{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Columbus{% endblock %}

{% block heading %}Columbus{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}
  [[[[The best town you probably haven't bothered visiting yet.]]]]
{% endblock %}


{% block content %}

<p>PyOhio's home is <a href="{{ URL_PREFIX }}/about/columbus">Columbus</a>, [[[[a delightfully quaint dairy town, nestled on a river at the southern edge of California's Wine Country. We've got beautiful scenery right on our doorstep, and we're less than an hour's drive from San Francisco over the Golden Gate Bridge. We've got a whole page dedicated to <a href="{{ URL_PREFIX }}/about/columbus">Columbus</a> if you want to learn more about it]]]].</p>

<p>[[[[Our venue, The Mystic Theatre, is not the only local example of early 1900s architecture, either: Downtown is full of great examples of Victorian-era buildings that survived the 1906 earthquake. Just down the road, you'll find the center of the maker movement and a thriving craft brewery scene]]]].</p>


<h2>Travel and Lodging</h2>

<p>We weren't able to secure a hotel block this year so we do not have an official hotel.</p>

<p><a href="http://www.theblackwell.com/" title="The Blackwell">The Blackwell</a> is within walking distance and may have rooms available even though there is no block. A number of other hotels are within a 15-min drive: <a href="https://goo.gl/z2l6WY" title="Other Hotels near The Ohio Union">Find hotels near The Ohio Union.</a></p>

<p>When you get here, you're sure to find a nice place to stay that fits your budget. You can find a range of options, and some special discounts, available on the <a href="{{ URL_PREFIX }}/attend/hotels">Where to Stay</a> page.</p>

{% endblock %}
