{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}About North Bay Python{% endblock %}

{% block heading %}About North Bay Python{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}
  A single-track conference north of the Golden Gate, focused on community, collaboration, and all things Python.
{% endblock %}

{% block content %}

<p>
  North Bay Python is a two-day, single-track Python conference held in the Mystic Theatre in Historic Downtown Petaluma, California, held over the weekend of December 2 &amp; 3, 2017.
</p>

<p>
  We're a nonprofit conference for professionals, enthusiasts and students alike; we're focused on inclusion, accessibility, diversity, and affordability; and we're planning a great lineup of talks from all over the Python ecosystem, with plenty of time to meet new people and
  develop new ideas too.
</p>

<p>
  Our venue, the historic Mystic Theatre in Downtown Petaluma, is a beautiful example of an early 1900s Vaudeville theatre, and it's a short walk away from over fifty different food and drink options in Downtown Petaluma, as well as several different hotels, the closest of which is only a block away.
</p>

<h2>The Conference</h2>

<p>
  North Bay Python is a single-track conference, with a carefully curated set of talks representing the truly diverse Python community and their different areas of interest.
<p>

<p>
  If a topic is less to your interest, or you've met some people you really want to sit down and chat with, we'll have plenty of areas away from the main theatre to catch up and chat as well.
</p>

<h2>Petaluma, California</h2>

<p>
  North Bay Python's home is Petaluma, a delightfully quaint dairy town, nestled on a river at the southern edge of California's Wine Country. We've got beautiful scenery right on our doorstep, and we're less than an hour's drive from San Francisco over the Golden Gate Bridge.
</p>

<p>
  The Mystic is not the only local example of early 1900s architecture, either; downtown is full of historic buildings, and it's at the center of the maker movement and a thriving craft brewery scene.
</p>

<h3>Getting here</h3>

<h4>By car</h4>

<p>
  If you're driving up, Downtown Petaluma is at exit 472 on Highway 101, 35 miles north of the Golden Gate Bridge. All parking is free in Petaluma, including in the undercover garages at Keller St and Theatre Square, both are in short walking distance of the Mystic.
</p>

<h4>By bus</h4>

<p>
  Public transit to Petaluma is not great. You can take the 101 bus operated by Golden Gate Transit from downtown San Francisco, or south from Santa Rosa. Depending on sponsorship, we hope to run a free shuttle with BART and Caltrain connections for people from further out of town.
</p>

<h4>By plane</h4>

<p>
  If you're coming from out of the area, you may want to consider Sonoma County Airport (STS) &ndash; it's 30 minutess out of Petaluma, and has nonstop flights to most major west coast cities. If you can't make it to STS, you can also try San Francisco (SFO) or Oakland (OAK) international airports.
</p>

<h3>Staying here</h3>

<p>
  Petaluma, as well as being a place where people live, also has hotels! We're arranging deals with some of the best local hotels in the area &ndash; the closest is just one block away. We'll share details of our hotel deals with you when conference tickets go on sale.
</p>

{% endblock %}
