{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}About North Bay Python{% endblock %}

{% block heading %}About North Bay Python{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}

A single-track conference north of the Bay focused on community, collaboration, and all things Python.

{% endblock %}

{% block content %}

<h2>Welcome to the North Bay</h2>

<p>North Bay Python is a two-day, single-track Python conference held in the Mystic Theater in Petaluma, California, held over the weekend of December 2 &amp; 3, 2017.</p>

<p>We're a nonprofit conference for professionals, enthusiasts and students alike, focused on inclusion, accessibility, diversity, and affordability, with not only a great lineup of talks from all over the Python ecosystem but plenty of time to meet new people and develop new ideas too.</p>

<p>Our venue, the historic Mystic Theater in Downtown Petaluma, is not only a beautiful example of an early 1900s Vaudeville theatre, but is a short walk away from over fifty different food and drink options in Downtown Petaluma, as well as several different hotels, the closest of which is only a block away.</p>

<h2>The Conference</h2>

<p>North Bay Python is a single-track conference, with a carefully curated set of talks representing the truly diverse Python community and their different areas of interest. If a topic is less to your interest, or you've met some people you really want to sit down and chat with, we'll have plenty of areas away from the main theater to catch up and chat as well.</p>

<h2>The Location</h2>

<p>Petaluma is right in the middle of the beautiful scenery of the North Bay, and less than an hour's drive from San Francisco over the Golden Gate Bridge. The Mystic is not the only example of early 1900s architecture, either; downtown is full of historic buildings, as well as being at the center of thing things like the maker movement and a thriving craft brewery scene.</p>

<p>If you want to stay overnight, we have deals with local hotels - the closest one is just one block away. If you're driving up, Petaluma has plenty of free parking, and if you don't feel like driving, we'll be putting on a shuttle from public transport stops as well.</p>

{% endblock %}
