{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}About North Bay Python{% endblock %}

{% block heading %}About North Bay Python{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}
  A single-track conference north of the Golden Gate, focused on community, collaboration, and all things Python.
{% endblock %}

{% block content %}

<p>North Bay Python is a two-day, single-track Python conference held at the Mystic Theatre in Historic Downtown Petaluma, California, over the weekend of December 2 &amp; 3, 2017.</p>

<p>We're a nonprofit conference for professionals, enthusiasts and students alike. We're focused on inclusion, accessibility, diversity, and affordability. Most importantly, we're planning a great lineup of talks from all over the Python ecosystem, with plenty of time to meet new people and develop new ideas.</p>

<p>Our venue, the Mystic Theatre in Downtown Petaluma, is a beautiful example of an early 1900s Vaudeville theatre. You can find over 50 different food and drink options within a short walk, and the nearest hotel is only a block away.</p>

<h2>The Conference</h2>

<p>North Bay Python is a single-track conference with a carefully curated set of talks representing the diverse Python community and their different areas of interest.</p>

<p>If a topic is less to your interest, or you've met some people you really want to sit down and chat with, we'll have plenty of areas away from the main theatre to catch up and chat.</p>

<p>Our goal is to keep prices as low as possible. That means we won't be catering lunch. Instead, you can look forward to extra-long lunch breaks you can use to explore all of the great food options around the venue.</p>

<h2>Petaluma, California</h2>

<p>North Bay Python's home is <a href="/about/petaluma">Petaluma</a>, a delightfully quaint dairy town, nestled on a river at the southern edge of California's Wine Country. We've got beautiful scenery right on our doorstep, and we're less than an hour's drive from San Francisco over the Golden Gate Bridge. We've got a whole page dedicated to <a href="/about/petaluma">Petaluma</a> if you want to learn more about it.</p>

<p>Our venue, The Mystic, is not the only local example of early 1900s architecture, either: Downtown is full of great examples of Victorian-era buildings that survived the 1906 earthquake. Just down the road, you'll find the center of the maker movement and a thriving craft brewery scene.</p>

<h2>Travel and Accommodation</h2>

<p>The Golden Gate Bridge is seen by San Franciscans as being approximately 8,000 miles long and shrouded in fog, so few ever cross up into the North Bay. Happily, the drive north is easy and it can be swift. There are many ways to get to Petaluma, we've covered driving, public transit, and flights on the <a href="/attend/travel">How to Get Here</a> page.</p>

<p>When you get here, you're sure to find a nice place to stay that fits your budget. You can find a range of options, and some special discounts, available on the <a href="/attend/hotels">Where to Stay</a> page.</p>

{% endblock %}
