{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Petaluma{% endblock %}

{% block heading %}Petaluma{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}
  The best town you probably haven't bothered visiting yet. 
{% endblock %}


{% block content %}

<p>North Bay Python's home is <a href="/about/petaluma">Petaluma</a>, a delightfully quaint dairy town, nestled on a river at the southern edge of California's Wine Country. We've got beautiful scenery right on our doorstep, and we're less than an hour's drive from San Francisco over the Golden Gate Bridge. We've got a whole page dedicated to <a href="/about/petaluma">Petaluma</a> if you want to learn more about it.</p>

<p>Our venue, The Mystic Theatre, is not the only local example of early 1900s architecture, either: Downtown is full of great examples of Victorian-era buildings that survived the 1906 earthquake. Just down the road, you'll find the center of the maker movement and a thriving craft brewery scene.</p>


<h2>Travel and Lodging</h2>

<p>The Golden Gate Bridge is well-known to San Franciscans as being approximately 8,000 miles long and shrouded in fog, so few ever cross up into the North Bay. Happily, the drive north is easy and it can be swift. There are many ways to get to Petaluma, we've covered driving, public transit, and flights on the <a href="/attend/travel">How to Get Here</a> page.</p>

<p>When you get here, you're sure to find a nice place to stay that fits your budget. You can find a range of options, and some special discounts, available on the <a href="/attend/hotels">Where to Stay</a> page.</p>

{% endblock %}
