{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}PyKids{% endblock %}

{% block heading %}PyKids{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}
{% endblock %}


{% block content %}
2018 PyKids details TBD...

<h3>Previous PyKids</h3>
<p>Additional info on Young Coders and previous classes is available here:</p>
<p><a href="http://pycon.blogspot.com/2013/03/how-kids-stole-show-young-coders.html">YC at PyCon</a></p>
<p><a href="http://blog.trinket.io/young-coders-tutorial/">Interview with Katie Cunningham</a></p>
<p><a href="http://therealkatie.net/blog/2013/aug/5/young-coders-pyohio/">Katie's Blog</a></p>

{% endblock %}
