{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}About PyOhio{% endblock %}

{% block heading %}About PyOhio{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}
  A multi-track conference in central Ohio, focused on community, collaboration, and all things Python.
{% endblock %}

{% block content %}

<p>PyOhio is a two-day, multi-track Python conference held at the OSU Ohio Union in The Ohio State University, Columbus, Ohio, over the weekend of [[[[July 29 &amp; 30, 2018.</p>

<p>We're a nonprofit conference for professionals, enthusiasts and students alike. We're focused on inclusion, accessibility, diversity, and affordability. Most importantly, we're planning a great lineup of talks from all over the Python ecosystem, with plenty of time to meet new people and develop new ideas.</p>

<p>Our venue, the Ohio Union in Columbus, is located in The Ohio State University just outside of Downtown Columbus. You can find [[[[over 50 different food and drink options within a short walk, and the nearest hotel is only a block away]]]].</p>

<h2>The Conference</h2>

<p>PyOhio is a multi-track conference with a carefully curated set of talks representing the diverse Python community and their different areas of interest.</p>

<p>If a topic is less to your interest, or you've met some people you really want to sit down and chat with, we'll have plenty of areas away from the main conference rooms to catch up and chat.</p>

<p>Our goal is to keep the conference free for all attendees. That means [[[[we won't be catering lunch. Instead, you can look forward to extra-long lunch breaks you can use to explore all of the great food options around the venue]]]].</p>

<h2>The Town</h2>

<p>PyOhio's home is <a href="/about/columbus">Columbus</a>, [[[[More about Columbus]]]].</p>

{% endblock %}
