{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Sprints{% endblock %}

{% block heading %}Sprints{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}
<p>PyOhio attendees are invited to informal reception and sprint sessions. These events are meant for anyone who would like to meet up with other attendees for informal discussion and/or coding.</p>

<h2>Sprints</h2>

<p>For those unfamiliar with the term: sprints are cooperative coding sessions where you work side-by-side with other PyOhio participants to improve an open-source project. </p>

<p>You can:</p>

<ul>
  <li>Write something new</li>
  <li>Extend an existing package (yours, or someone else's)</li>
  <li>Fix bugs</li>
  <li>Write tests</li>
  <li>Improve documentation</li>
</ul>

<p>It's a great way to contribute to the community, learn about coding and open-source contribution, and have fun with new and old PyOhio friends.</p>

<h2>Schedule</h2>

TBD...

<h2>What you need</h2>

<p><em>Experience not needed</em> - sprinting is actually a great way to <em>gain</em> experience.</p>
<p>Bring a laptop!</p>

<h2>Food</h2>

TBD...

<h2>Sprints planned</h2>
<hr>
<p>None formally planned (yet!)</p>

<h2>Want to lead a sprint?</h2>
<hr>
<p>Contact info@pyohio.org if you are planning to lead a sprint!</p>
{% endblock %}
