{% extends "page_with_title_and_lede.html" %}

{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}

{% block head_title %}About the Team{% endblock %}

{% block heading %}About the Team{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}

Our team of North Bay and Bay Area locals has years of experience building communities, running events, and, of course, programming. We're also all-in on cultivating a more inclusive culture.

{% endblock %}

{% block content %}

<h2>Contact the Team</h2>

<p>Need to contact someone in a hurry? You can reach us all at <a href="mailto:hello@northbaypython.org">hello@northbaypython.org</a>. Read on to learn about the organizing team.</p>

<p>You can also find us all over the internet, including:</p>

<ul>
  <li><a href="https://facebook.com/northbaypython">Facebook</a></li>
  <li><a href="https://twitter.com/northbaypython">Twitter</a></li>
  <li><a href="https://webchat.freenode.net/?channels=%23nbpy">IRC (#nbpy on Freenode)</a></li>
</ul>


<h2>Meet the Team</h2>

<h3>Christopher Neugebauer, Conference Chair</h3>

<p><img src="{% static "images/team/chris.jpg" %}" alt="Christopher Neugebauer" class="team-headshot">Christopher is a Python developer who lives in glorious Petaluma, California, though he's originally from the the city of Hobart in Tasmania, Australia. A serial conference organizer, he has been a core organiser of PyCon Australia for a number of years, was director of linux.conf.au 2017, and a good number of his open source contributions help power the website this conference runs on. He was made a fellow of the Python Software Foundation in 2013 in recognition for his contributions to building the Australian Python community. (<a href="https://twitter.com/chrisjrn">@chrisjrn on Twitter</a>)</p>

<h3>Sam Kitajima-Kimbrel, Program Chair</h3>

<p><img src="{% static "images/team/sam.jpg" %}" alt="Sam Kitajima-Kimbrel" class="team-headshot">Sam is a Python developer and distributed-systems "enthusiast" hailing from Seattle by birth, New York by nurture, and the Bay Area by choice. Five years ago he attended his first PyCon US and hasn't been able to break the habit; after making the jump from audience to stage in 2014 and speaking regularly at events around the world, he was thrilled to join team when invited by Chris and Josh. Sam currently works at Nuna building healthcare data infrastructure for the U.S. Medicaid and Medicare programs and resides in Oakland with his husband Kameron. (<a href="https://twitter.com/skimbrel">@skimbrel on Twitter</a>)</p>

<h3>Andrew Godwin</h3>

<p><img src="{% static "images/team/andrew.jpg" %}" alt="Andrew Godwin" class="team-headshot">Andrew is a Django and Python developer who originally hails from London but moved to the Bay Area four years ago. He's been writing open source software for over a decade as well as working in various different parts of the technology industry, and currently works at Eventbrite. He regularly speaks at Python (and other) events around the world, and has a keen interest in building communities and inclusivity. (<a href="https://twitter.com/andrewgodwin">@andrewgodwin on Twitter</a>)</p>

<h3>Josh Simmons</h3>
<p><img src="{% static "images/team/josh.jpg" %}" alt="Josh Simmons" class="team-headshot">Josh is a community organizer and web developer with a penchant for armchair philosophy who was born and raised in the North Bay. He spent 4.5 years building Web &amp; Interactive Media Professionals (WIMP), a local community with over 600 members, before moving on to do community management for O'Reilly Media. These days Josh works on the Google Open Source outreach team and serves as a board member and volunteer CFO for Open Source Initiative. (<a href="https://twitter.com/joshsimmons">@joshsimmons on Twitter</a>)</p>


<h2>Advisors<a name="advisors"></a></h2>

<p>We acknowledge that our small team has limited perspective, and that to build a truly inclusive event, we need to seek the perspectives of a diverse range of people. We thank the following people and organizations for providing us with advice along the way.</p>

<ul>
  <li><a href="https://twitter.com/vavroom">Nicolas Steenhout</a> is helping us with accessibility and inclusion of people with disabilities.</li>
  <li><a href="https://twitter.com/vmbrasseur">VM (Vicky) Brasseur</a> is helping us run an excellent call for proposals, design our office hours program, and support new speakers with speaker training.</li>
  <li><a href="https://twitter.com/sigje">Jennifer Davis</a> is helping us make the event accessible to parents by advising on things like childcare.</li>
  <li><a href="https://twitter.com/techivist">Miguel Hernandez</a> is helping us build a more inclusive event with outreach to Latinx communities.</li>
</ul>


<h2>Supporting Organizations</h2>
<h3>Software Freedom Conservancy</h3>

<p><a href="https://twitter.com/conservancy">Conservancy</a> is a public charity dedicated to the promotion and development of free and open source software, and is the fiscal sponsor of North Bay Python. Without Conservancy and the people behind it&mdash;namely <a href="https://twitter.com/o0karen0o">Karen Sandler</a>, <a href="https://twitter.com/bkuhn_ebb_org">Bradley Kuhn</a>, <a href="https://twitter.com/keynote2k">Tony Sebro</a>, and <a href="https://twitter.com/Brett20XX">Brett Smith</a>&mdash;none of this would be possible!</p>

{% endblock %}
