{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}About the Team{% endblock %}

{% block heading %}About the Team{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}

Our five-person team has years of experience building communities, running events, and, of course, programming. We're also all-in on cultivating a more inclusive culture.

{% endblock %}

{% block content %}

<h2>Meet the Team</h2>

<p>Need to contact someone in a hurry? You can reach us all at <a href="mailto:spam@northbaypython.org" title="spam@northbaypython.org">spam@northbaypython.org</a>. Read on to learn about the organizing team.</p>

<h4>Christopher Neugebauer, Conference Chair</h4>

<p><a href="https://twitter.com/chrisjrn" title="Christopher Neugebauer on Twitter">Christopher</a> is a Python developer who lives in glorious Petaluma, California, though he's originally from the the city of Hobart in Tasmania, Australia. A serial conference organizer, he has been a core organiser of PyCon Australia for a number of years, was director of linux.conf.au 2017, and a good number of his open source contributions help power the website this conference runs on. He was made a fellow of the Python Software Foundation in 2013 in recognition for his contributions to building the Australian Python community.</p>

<h4>Sam Kitajima-Kimbrel, Program Chair</h4>

<p><a href="https://twitter.com/skimbrel" title="Sam Kitajima-Kimbrel on Twitter">Sam</a> is a Python developer and distributed-systems “enthusiast” hailing from Seattle by birth, New York by nurture, and the Bay Area by choice. About five years ago he attended PyCon US for the first time and hasn’t been able to break the habit since; after making the jump from audience to stage in 2014 and speaking regularly at PyCons and other events around the world, he was thrilled to sign on with the North Bay Python team when invited by Chris and Josh. Sam currently works at Nuna building healthcare data infrastructure for the U.S. Medicaid and Medicare programs and resides in Oakland with his husband Kameron.</p>

<h4>Andrew Godwin</h4>

<p><a href="https://twitter.com/andrewgodwin" title="Andrew Godwin on Twitter">Andrew</a> is a Django and Python developer who originally hails from London but moved to the Bay Area four years ago. He’s been writing open source software for over a decade as well as working in various different parts of the technology industry, and currently works at Eventbrite. He regularly speaks at Python (and other) events around the world, and has a keen interest in building communities and inclusivity.</p>

<h4>Sarah Kuchinsky</h4>

<p>Bio and a pic</p>

<h4>Josh Simmons</h4>

<p><a href="https://twitter.com/joshsimmons" title="Josh Simmons on Twitter">Josh</a> is a community organizer and web developer who was born and raised in the North Bay. He spent 4.5 years building Web &amp; Interactive Media Professionals (WIMP), a local community with over 600 members, before moving on to do community management for O’Reilly Media. These days Josh works on the Google Open Source outreach team and serves as a board member and volunteer CFO for Open Source Initiative.</p>

<h2>Software Freedom Conservancy</h2>

<p><a href="https://twitter.com/conservancy" title="Software Freedom Conservancy on Twitter">Conservancy</a> is a public charity dedicated to the promotion and development of free and open source software, and is the fiscal sponsor of North Bay Python. Without Conservancy and the people behind it -- namely <a href="https://twitter.com/o0karen0o" title="Karen Sandler on Twitter">Karen Sandler</a>, <a href="https://twitter.com/bkuhn_ebb_org" title="Bradley Kuhn on Twitter">Bradley Kuhn</a>, <a href="https://twitter.com/keynote2k" title="Tony Sebro on Twitter">Tony Sebro</a>, and <a href="https://twitter.com/Brett20XX" title="Brett Smith on Twitter">Brett Smith</a> -- none of this would be possible!</p>

{% endblock %}
