{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}About the Team{% endblock %}

{% block heading %}About the Team{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}

Our five person team has years of experience building communities, running events, and, of course, programming. We're also all in on cultivating a more inclusive culture.

{% endblock %}

{% block content %}

<h2>Meet the Team</h2>

<p>Need to contact someone in a hurry? You can reach us all at <a href="mailto:spam@northbaypython.org">spam@northbaypython.org</a>. Read on to learn about the organizing team.</p>

<h3>Conference Chair</h3>

<h4>Christopher Neugebauer</h4>

<p>Bio and a pic</p>

<h3>Program Chair</h3>

<h4>Sam Kitajima-Kimbrel</h4>

<p>Bio and a pic</p>

<h3>The Team</h3>

<h4>Andrew Godwin</h4>

<p>Bio and a pic</p>

<h4>Sarah</h4>

<p>Bio and a pic</p>

<h4>Josh Simmons</h4>

<p>Bio and a pic</p>

{% endblock %}
