body {
  padding-top: 50px;
  position: relative;
  font-weight: 300;  // Not overridable in bootstrap at the moment.
  /*background: url("../images/website-background.svg");
  background-size: cover;
  background-repeat: no-repeat;*/
}

// Not overridable in bootstrap at the moment
.dropdown-menu >li >a {
  font-weight: 300;
}

// Not overridable in bootstrap at the moment.
strong {
  font-weight: 500;
}

section {
  padding: 20px 0px;
}
.modal form {
  margin-bottom: 0px;
}

footer {
  padding-top: 40px;
  padding-bottom: 20px;
  text-shadow: 0px 0px 10px white;
}

p.login-signup {
    margin-top: 20px;
}

.feature-columns {
    @include make-row();

    > div {
        i.fa {
            margin-bottom: 0.2em;
        }
        @include make-sm-column(4);
        /*.text-center;
        margin: 2em 0;*/
    }
}

body.reviews.review-list .review-list,
body.reviews.voting-status .voting-status,
body.reviews.review-results .review-results {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border;
}

body.reviews.voting-status {
    &.positive a.positive,
    &.negative a.negative,
    &.indifferent a.indifferent,
    &.controversial a.controversial,
    &.too_few a.too_few {
        z-index: 2;
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
        outline: 0;
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
}

#accountLogOutForm {
    display: none;
}

.sponsor-list h3 {
    margin-top: 3em;
}

.sponsor-list > div {
    margin: 10px 0;
}

body.auth .panel-heading .panel-title span.pull-right {
    margin: 0 auto;
}

.home {
  margin: 0;
  padding-top: $navbar-height - $navbar-padding-vertical - 8;
}

.home#content_body {
  margin: 0;
  padding: 0;
}

#content_body {
  background-color: $background-filter-transparent;
  box-shadow: 0px 0px 2em $background-filter; //, inset 0px -5px 1em rgba(0, 0, 0, 0.8);
}

$homepage-block-min-height: 480px;

.homepage-block {
  margin-top: 0;
  margin-bottom: 0;
  min-height: $homepage-block-min-height;
  position: relative;
  box-shadow: $box-shadow;
  z-index: 3;
}

.homepage-block-content {
  min-height: ($homepage-block-min-height - 80px);
}

/* ??? */
.homepage-block-footer {

}

.homepage-block.light {
  background-color: $background-filter;
  z-index: 2;
}

.homepage-block.white {
  background-color: white;
  z-index: 1;
}

.homepage-block-bg {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  background-blend-mode: multiply;
  z-index: -9999;
  box-shadow: $box-shadow;
}

.homepage-block.dark {
  background: $gray-base;
  color: white;
}

.navbar {
  box-shadow: $box-shadow;
}

.tight-headings {

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

}


.hills {
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -9999;

  &.main {
    background-image: url("../images/hills.svg");
  }

  &.footer {
    background-image: url("../images/hills-footer.svg");
  }
}


.btn-group + p {
  margin-top: 1em;
}
