body {
  padding-top: 50px;
  position: relative;
  font-weight: 300;  // Not overridable in bootstrap at the moment.
  /*background: url("../images/website-background.svg");
  background-size: cover;
  background-repeat: no-repeat;*/
}

// Not overridable in bootstrap at the moment
.dropdown-menu >li >a {
  font-weight: 300;
}

// Not overridable in bootstrap at the moment.
strong {
  font-weight: 500;
}

section {
  padding: 20px 0px;
}
.modal form {
  margin-bottom: 0px;
}

footer {
  padding-top: 40px;
  padding-bottom: 20px;
  text-shadow: 0px 0px 10px white;
}

p.login-signup {
    margin-top: 20px;
}

.feature-columns {
    @include make-row();

    > div {
        i.fa {
            margin-bottom: 0.2em;
        }
        @include make-sm-column(4);
        /*.text-center;
        margin: 2em 0;*/
    }
}

body.reviews.review-list .review-list,
body.reviews.voting-status .voting-status,
body.reviews.review-results .review-results {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border;
}

body.reviews.voting-status {
    &.positive a.positive,
    &.negative a.negative,
    &.indifferent a.indifferent,
    &.controversial a.controversial,
    &.too_few a.too_few {
        z-index: 2;
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
        outline: 0;
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
}

#accountLogOutForm {
    display: none;
}

.sponsor-list h3 {
    margin-top: 3em;
}

.sponsor-list > div {
    margin: 10px 0;
}

body.auth .panel-heading .panel-title span.pull-right {
    margin: 0 auto;
}

.home {
  margin: 0;
  padding-top: $navbar-height - $navbar-padding-vertical - 8;
}

.home#content_body {
  margin: 0;
  padding: 0;
}

#content_body {
  background-color: $background-filter-transparent;
  box-shadow: 0px 0px 2em $background-filter; //, inset 0px -5px 1em rgba(0, 0, 0, 0.8);
}


.hidden-accessible {
  border:0 none;
  clip:rect(0px,0px,0px,0px);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px
}


$homepage-block-min-height: 480px;

.homepage-block {
  margin-top: 0;
  margin-bottom: 0;
  min-height: $homepage-block-min-height;
  position: relative;
  box-shadow: $box-shadow;
  z-index: 3;

  .sponsor {
    @include make-xs-column(6);
    @include make-sm-column(4);
    @include make-md-column(3);
    max-width: 600px;
  }
}


.homepage-block-content {
  min-height: ($homepage-block-min-height - 80px);
}

/* ??? */
.homepage-block-footer {

}

.homepage-block.light {
  background-color: $background-filter;
  z-index: 2;
}

.homepage-block.white {
  background-color: white;
  z-index: 1;
}

.homepage-block-bg {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  background-blend-mode: multiply;
  z-index: -9999;
  box-shadow: $box-shadow;
}

.homepage-block.dark {
  background: $gray-base;
  color: white;
  text-shadow: 1px 1px $gray-dark;

  a:not(.btn) {
    color: lighten($brand-primary, 20%);

    &:hover,
    &:focus,
    &:active {
      color: lighten($brand-primary, 15%);
    }
  }
}

.navbar {
  box-shadow: $box-shadow;
}

.navbar ul.navbar-nav > li > a,
.navbar-header a.navbar-brand {
  &:active,
  &:focus,
  &:hover {
    background-color: #004303;
  }
}

.tight-headings {

  h1, h2, h3, h4, h5, h6 {
    margin: 0.05em;
  }

}

.btn-shadow {
  box-shadow: 1px 1px 5px $gray-dark;
}

.hills {
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -9999;

  &.main {
    background-image: url("../images/hills.svg");
  }

  &.footer {
    background-image: url("../images/hills-footer.svg");
  }
}

.circle {
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  width: 100%;
  border: 0.05em solid black;
  box-shadow: 0px 0px 1em $gray-dark;
}

.circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.fill {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background-size: cover;
  background-position: center;
}

.squish {
  position: relative;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn-group + p {
  margin-top: 1em;
}

.website-background {
  background-image: url("../images/website-background.svg");
}

.mystic-background {
  background-image: url("../images/mystic.jpg");
}

.djangogirls-background {
  background-image: url("../images/django-girls-2014.jpg");
}

.sponsor-list a img {
  width: 100%;
}

.sponsor-list {
  margin-top: 1em;
}

.full-width {
  width: 100%;
}

body.about {
  h2, h3, h4 {
    clear: both;
  }

  .team-headshot {
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 1em;
    margin-top: 0.25em;
    margin-bottom: 1em;
  }
}

body.news {
  h2, .h2 {
    font-size: 28px;
  }
}

body:not(.home) {
  #background-filter a:not(.btn) {
    text-decoration: underline;
  }
}

span.date {
  font-weight: 900;
}

.email-signup-panel {
  max-width: 600px;
}

.logo {
  float: right !important;
  width: 80px;
  height: 80px;
  margin: 0 1em 2em 2em;

  .circle {
    width: 80px;
    height: 80px;
  }
}

footer .footer-copy {
  margin-left: 1em;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .email-signup-panel input.btn {
    margin-top: 1em;
  }
}

@media (max-width: 992px) {
  .photo-attribution {
    margin-top: 1em;
    text-align: left;
  }

  .email-signup-panel {
    margin-top: 2em;
  }
}

@media (max-width: 768px) {
  .navbar-nav.pull-right {
    float: left !important;
  }
}

@media (max-width: 550px) {

}

@media (min-width: 992px) {
  .email-signup-panel {
    margin-top: 22px;
  }
}

.homepage-subtitle {
  font-size: $font-size-h3;
}
