{% extends "site_base_home.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}Welcome{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

  <div class="homepage-block-bg website-background"></div>
  <div class="jumbotron homepage-block light">
    <div class="homepage-block-bg website-background"></div>
    <div class="hills main"></div>
    <div class="container homepage-block-content">
      <div class="tight-headings">
        <h1>North Bay Python</h1>
        <h2 class="homepage-subtitle">A Python conference north of the Golden Gate</h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>
            The Mystic Theatre</br>
            Petaluma, California
          </h3>

          <h4>
            December 2 &amp; 3, 2017<br/>
            Talk submissions close September 29
          </h4>
        </div>
        <div class="col-md-4 col-md-offset-2 email-signup-panel">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Sign up for our low-volume announcements newsletter!</h4>
            </div>
            <div class="panel-body">
              <form
                class="form-inline"
                action="https://tinyletter.com/northbaypython" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/northbaypython', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <div class="form-group">
                  <span>
                    <label class="hidden-accessible" for="tlemail">Email address:</label>
                  </span>
                  <span>
                    <input class="form-control" type="email" name="email" id="tlemail" placeholder="E-mail address"/>
                  </span>
                </div>
                <span>
                  <input class="btn btn-primary" type="submit" value="Subscribe" />
                </span>

                <input type="hidden" value="1" name="embed"/>
              </form>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="container homepage-block-footer">
      <div>
        <a class="btn btn-primary btn-lg" href="/dashboard">Submit a Proposal</a>
        <a class="btn btn-default btn-lg " href="https://twitter.com/northbaypython">Twitter</a>
        <a class="btn btn-default btn-lg" href="https://facebook.com/northbaypython">Facebook</a>
      </div>
    </div>
  </div>

  <div class="jumbotron homepage-block dark">
    <div class="homepage-block-bg mystic-background"></div>
    <div class="container homepage-block-content">
      <h1>Downtown Petaluma</h1>

      <p>North Bay Python's home is Petaluma, a delightfully quaint dairy town, nestled on a river at the edge of California's Wine Country. Here's what you can look forward to:</p>

      <ul>
        <li>An historic venue with countless restaurants and coffee shops in walking distance</li>
        <li>World-famous craft food and drink producers on your doorstep</li>
        <li>Charming small-town hotels, as close as one block away</li>
      </ul>

      <p>&hellip; and it's only an hour away from San Francisco (on a good day).</p>
    </div>

    <div class="homepage-block-footer full-width">
      <div class="container">
        <div class="row">
          <div class="btn-group col-md-4">
            <a class="btn btn-lg btn-primary btn-shadow" href="/about/north-bay-python">Learn More</a>
          </div>

          <div class="col-md-8 text-right photo-attribution">
            Image credit: <a href="https://www.instagram.com/p/BU-G5dGAkHt">Mystic Theatre</a>, &copy; 2017 Christopher Neugebauer (<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>)
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron homepage-block white">
    <div class="container homepage-block-content">
      <h1>Sponsors</h1>

      {% load sponsorship_tags %}
      {% load thumbnail %}

      {% sponsor_levels as levels %}

      <div class="row sponsor-list">
      {% for level in levels %}
          {% if level.sponsors %}
              {% for sponsor in level.sponsors %}
                  <div class="sponsor">
                    <div class="logo-alignment">
                      {% if sponsor.website_logo %}
                          <a href="{{ sponsor.external_url }}">
                              <img src="{% thumbnail sponsor.website_logo '600x360' %}" alt="{{ sponsor.name }}">
                          </a>
                      {% else %}
                          <a href="{{ sponsor.external_url }}">{{ sponsor.name }}</a>
                      {% endif %}
                    </div>
                  </div>
              {% endfor %}
          {% endif %}
      {% endfor %}
      </div>
    </div>

    <div class="container homepage-block-footer">
      <div class="btn-group">
        <a class="btn btn-lg btn-primary btn-shadow" href="/sponsors/become-a-sponsor">Become a Sponsor</a>
      </div>
    </div>
  </div>

  <div class="jumbotron homepage-block dark">
    <div class="homepage-block-bg djangogirls-background"></div>
    <div class="container homepage-block-content">
      <h1>Inclusion and Diversity</h1>

      <p>North Bay Python is proud to be founded on a commitment to inclusion and diversity. Here's what we commit to:</p>

      <ul>
        <li>A strong Code of Conduct and enforcement policy built on the Python Software Foundation's PyCon US policy.</li>
        <li>Diversity targets for speakers and attendees.</li>
        <li>Financial assistance for speakers who need it.</li>
        <li>Low-cost tickets, with fees enthusiastically waived on request.</li>
      </ul>
    </div>

    <div class="homepage-block-footer full-width">
      <div class="container">
        <div class="row">
          <div class="btn-group col-md-4">
            <a class="btn btn-lg btn-primary btn-shadow" href="/code-of-conduct" title"North Bay Python Code of Conduct">Read the Code of Conduct</a>
          </div>

          <div class="col-md-8 text-right photo-attribution">
            Image credit: <a href="https://www.flickr.com/photos/richard_jones/14638274749">DjangoGirls Brisbane</a>, &copy; 2014 Richard Jones (<a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>)
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
