{% extends "site_base_home.html" %}

{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load sponsorship_tags %}
{% load schedule_tags %}

{% block head_title %}PyOhio CFP{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

  <div class="homepage-block-bg"></div>
  <div class="jumbotron homepage-block white">
    <div class="homepage-block-bg"></div>
    <div class="container homepage-block-content ">
      <div class="tight-headings">
        <h1>PyOhio CFP</h1>
        <h2 class="homepage-subtitle">Submit your talk and tutorial proposals for PyOhio!</h2>
      </div>

      <div>
          <div class="homepage-eventinfo">
              PyOhio 2019 is July 27-28, 2019 <br/>
              at <a href="https://goo.gl/maps/ZT1GpzUkCtQ2">The Ohio Union</a> in Columbus, OH<br/>
          </div>
          <p class="h2">CFP Information</p>
          <p>The PyOhio 2019 CFP will open in late March and run through early May.</p>
          <p>See <a hred="https://www.pyohio.org/">the PyOhio website</a> for more details
          and <a href="https://www.pyohio.org/2019/contact/keep-in-touch/">subscribe to our mailing list</a>
          for announcements.</p>
      </div>
    </div>
  </div>

{% endblock %}
