{% extends "site_base_home.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}Welcome{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

  <div class="homepage-block-bg website-background"></div>
  <div class="jumbotron homepage-block light">
    <div class="homepage-block-bg website-background"></div>
    <div class="hills main"></div>
    <div class="container homepage-block-content">
      <div class="tight-headings">
        <h1>North Bay Python</h1>
        <h3>A Python conference north of the Golden Gate</h3>
      </div>

      <h3>
        The Mystic Theatre</br>
        Petaluma, California
      </h3>

      <h4>
        <strong>2017 conference:</strong> December 2 &amp; 3 <br/>
        Talk submissions close September 29
      </h4>
    </div>

    <div class="container homepage-block-footer">
      <div class="btn-group">
        <a class="btn btn-lg btn-primary btn-shadow" href="/dashboard" title="Submit a Proposal to North Bay Python">Submit a Proposal</a>
      </div>
    </div>
  </div>

  <div class="jumbotron homepage-block dark">
    <div class="homepage-block-bg mystic-background"></div>
    <div class="container homepage-block-content">
      <h1>Downtown Petaluma</h1>

      <p>North Bay Python's home is Petaluma, a shockingly quaint dairy town, nestled on a river at the edge of California's Wine Country.</p>

      <p>We're hosting the conference at the Mystic Theatre, a 1912-era music hall in the middle of Historic Downtown Petaluma. There are countless places to eat, craft food and drink producers within walking distance, and plenty of places to stay nearby.</p>

      <p>And it's only an hour away from San Francisco.</p>
    </div>

    <div class="homepage-block-footer full-width">
      <div class="container">
        <div class="row">
          <div class="btn-group col-md-4">
            <a class="btn btn-lg btn-primary btn-shadow" href="/about/north-bay-python" title="About North Bay Python">Learn More</a>
          </div>

          <div class="col-md-8 text-right">
            Image credit: <a href="https://www.instagram.com/p/BU-G5dGAkHt" title="Photo of the Mystic Theatre">Mystic Theatre</a>, &copy; 2017 Christopher Neugebauer (<a href="https://creativecommons.org/licenses/by-sa/2.0/" title="Creative Commons Attribute Share Alike 2.0 Generic License">CC BY-SA 2.0</a>)
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron homepage-block white">
    <div class="container homepage-block-content">
      <h1>Sponsors</h1>

      {% load sponsorship_tags %}
      {% load thumbnail %}

      {% sponsor_levels as levels %}

      <div class="row sponsor-list">
      {% for level in levels %}
          {% if level.sponsors %}
              {% for sponsor in level.sponsors %}
                  <div class="col-md-3">
                      {% if sponsor.website_logo %}
                          <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">
                              <img src="{% thumbnail sponsor.website_logo '600x360' %}" alt="{{ sponsor.name }}">
                          </a>
                      {% else %}
                          <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">{{ sponsor.name }}</a>
                      {% endif %}
                  </div>
              {% endfor %}
          {% endif %}
      {% endfor %}
      </div>
    </div>

    <div class="container homepage-block-footer">
      <div class="btn-group">
        <a class="btn btn-lg btn-primary btn-shadow" href="/sponsors/become-a-sponsor" title="Become a Sponsor">Become a Sponsor</a>
      </div>
    </div>
  </div>

  <div class="jumbotron homepage-block dark">
    <div class="homepage-block-bg djangogirls-background"></div>
    <div class="container homepage-block-content">
      <h1>Inclusion and Diversity</h1>

      <p>North Bay Python is proud to be founded on a commitment to inclusion and diversity.</p>

      <p>We value your safety, so we have a strong Code of Conduct and enforcement policy built on the Python Software Foundation's PyCon US policy.</p>

      <p>We have set diversity targets for our conference program, including short-term and long-term goals for gender balance. We make financial assistance available to speakers.</p>

      <p>We will always have low-cost tickets available, and we will enthusiastically waive ticket costs on request if you need it.</p>
    </div>

    <div class="homepage-block-footer full-width">
      <div class="container">
        <div class="row">
          <div class="btn-group col-md-4">
            <a class="btn btn-lg btn-primary btn-shadow" href="/code-of-conduct" title"North Bay Python Code of Conduct">Read the Code of Conduct</a>
          </div>

          <div class="col-md-8 text-right">
            Image credit: <a href="https://www.flickr.com/photos/richard_jones/14638274749" title="Photo from DjangoGirls Brisbane 2014">DjangoGirls Brisbane</a>, &copy; 2014 Richard Jones (<a href="https://creativecommons.org/licenses/by/2.0/" title="Creative Commons Attribute 2.0 Generic License">CC BY 2.0</a>)
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
