{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}News{% endblock %}

{% block heading %}News{% endblock %}

{% block body_class %}news{% endblock %}

{% block content %}

<h2>Now accepting talk proposals for North Bay Python 2017</h2>

<p><span class="date">Monday, August 21, 2017</span>&mdash;The North Bay Python team is excited to announce that the <a href="/program/call-for-proposals" title="North Bay Python Call for Proposals">call for proposals</a> (CFP) is now open! We are seeking speakers of all experience levels to contribute to our inaugural conference. The CFP will close on September 29, 2017.</p>

<p>North Bay Python is a single-track event featuring two days of presentations by members of the community. The vast majority of the conference program will come from people who propose talks in our CFP process. Whether you use Python professionally, as a hobbyist, or are just excited about Python or programming and open source, we'd love to hear from you.</p>

<p>Our program committee, which is responsible for reviewing proposals, is interested in building a program that reflects the diversity of people who are using Python. Never given a presentation before but excited to share? We're here to help you craft a proposal and can refer you to quality resources for making your first conference talk. Not sure what to talk about, but interested in trying? We've got ideas for presentations we'd love to see and we're happy to share them with you!</p>

<p>In order to ensure a balanced program, we are proactively doing outreach to new and experienced speakers alike. We are also including a blind review phase in our <a href="/program/selection-process" title="North Bay Python proposal selection process">selection process</a> in order to combat bias. Our goal is to have no less than 33% of our speakers be not-men, ideally 50%, and to reflect the racial diversity of United States and Bay Area demographics.</p>

<p>Feel free to reach out with any questions, comments, or ideas you have. You can find us on <a href="https://twitter.com/northbaypython" title="North Bay Python on Twitter">Twitter</a>, <a href="https://facebook.com/northbaypython" title="North Bay Python on Facebook">Facebook</a>, and <a href="https://webchat.freenode.net/?channels=%23nbpy" title="IRC Web Client for #nbpy Channel on Freenode">IRC</a>, or you can <a href="mailto:program@northbaypython.org" title="program@northbaypython.org">email us</a>. Please, get started today! The <a href="/program/call-for-proposals" title="North Bay Python Call for Proposals">call for proposals</a> closes on September 29, 2017.</p>

<h2>North Bay Python joins Software Freedom Conservancy</h2>

<p><span class="date">Wednesday, August 16, 2017</span>&mdash;We are proud to announce that North Bay Python is now a member project of <a href="https://sfconservancy.org" title="Software Freedom Conservancy">Software Freedom Conservancy</a>, a 501(c)(3) charity dedicated to ethical technology and the development and promotion free and open source software. Conservancy will act as our fiscal sponsor, allowing our team to operate without managing our own corporate structure and administrative services.</p>

<p>Conservancy is home to many popular <a href="https://sfconservancy.org/projects/current/" title="Current Member Projects of the Software Freedom Conservancy">free and open source software projects</a>, like <a href="http://www.seleniumhq.org/" title="Selenium">Selenium</a>, <a href="https://pypy.org/" title="PyPy">PyPy</a>, <a href="https://www.phpmyadmin.net/" title="phpMyAdmin">phpMyAdmin</a>, <a href="https://twistedmatrix.com/trac/" title="Twisted">Twisted</a>, and <a href="https://www.gnome.org/outreachy/" title="Outreachy">Outreachy</a>, some of which run their own events. North Bay Python has the distinct honor of being the first member project that is exclusively focused on organizing community events.</p>

<p>We couldn't be more excited. We're celebrating by donating five free tickets to Outreachy participants and will be promoting member projects relevant to the Python community at the conference. Interested Outreachy alums (past or present) should <a href="mailto:outreach@northbaypython.org" title="outreach@northbaypython.org">contact us</a>. We'll also have discounted tickets available for active financial supporters of Software Freedom Conservancy.</p>

<p>We look forward to working with Conservancy to advance software freedom and expand the community of Python developers. If this is the first time you've heard of Conservancy, we encourage you to check out <a href="https://sfconservancy.org" title="Software Freedom Conservancy">their website</a> and give them your support.</p>

{% endblock %}
