{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}News{% endblock %}

{% block heading %}News{% endblock %}

{% block body_class %}news{% endblock %}

{% block content %}

<a name="7"></a>
<h2>North Bay Python is here!</h2>

<p><span class="date">Wednesday, November 29, 2017</span>&mdash;The inaugural North Bay Python officially kicks off this Saturday, December 2nd at 10am Pacific Time. We are expecting gloriously California winter weather with a mixture of clouds, sunshine, and brisk temperatures.</p>

<p>Speakers and attendees are traveling from the UK, Mexico, and all around the United States to participate, with most coming from the West Coast. Attendees will enjoy 20 sessions, 2 keynotes, a smattering of <a href="/program/events">official</a> and <a href="/wiki/meetups/">unofficial side events</a> including a pre-event social, a speaker training, and a PyLadies lunch. A full listing of <a href="/program/events">events</a> and <a href="/schedule/">sessions</a> can be found on our website.</p>

<p>We hope those that aren't able to join us this year can participate next year&ndash;dates to be announced&ndash;and will enjoy the video recordings that we'll be posting to <a href="https://www.youtube.com/channel/UCLc1vUexbRTlRBJcUG9U6ug">YouTube</a> and the Internet Archive.</p>

<a name="6"></a>
<h2>Introducing Guides and the Attendee Wiki</h2>

<p><span class="date">Tuesday, November 14, 2017</span>&mdash;Today we are launching the <a href="/wiki">Attendee Wiki</a> for North Bay Python 2017 attendees, as well as <a href="/guides">a small pile of guides</a> to help people make the most of their conference experience.</p>

<p>We've sketched out a few key guides, such as:</p>

<ul>
  <li><a href="/accessibility">Accessibility and Accommodations</a></li>
  <li><a href="/emergencies">Emergencies</a></li>
  <li><a href="/wiki/fitness">Fitness</a></li>
  <li><a href="/attend/transit">Getting Around P'town</a></li>
</ul>

<p>Some of the Wiki pages we've started require community participation to be of any value, in particular:</p>

<ul>
  <li><a href="/wiki/job-board">Job Board</a></li>
  <li><a href="/wiki/meetups">Meetups</a></li>
  <li><a href="/wiki/ride-sharing">Ride Sharing</a></li>
</ul>

<p>We'll be sharing more information and launching more guides soon.</p>

<a name="5"></a>
<h2>North Bay Python 2017 speaker lineup released</h2>

<p><span class="date">Friday, October 20, 2017</span>&mdash;We're proud to announce the entire <a href="/schedule/general-sessions/list/">North Bay Python 2017 program</a>, including all 20 speakers and two keynote presenters. Our speakers are coming to Petaluma from all around the world: as far east as the United Kingdom, as far north as Seattle, and as far south as Mexico City.</p>

<p>Joining Carina C. Zona as a keynote speaker will be <a href="https://twitter.com/brandon_rhodes">Brandon Rhodes</a>. Brandon has been a Python user for 20 years, and a speaker at Python conferences for almost a decade. In fact, he was the Chair of PyCon 2016 and 2017. His talks make connections between the past and present, and between computer programming and other disciplines. He currently works at Dropbox on their developer tools, helping to make Dropbox engineers happy and productive.</p>

<p>You can <a href="/schedule/general-sessions/list">read about the North Bay Python 2017 sessions</a> and the overall <a href="/program/events">event schedule</a> on our website.</p>

<a name="4"></a>
<h2>Preview the North Bay Python 2017 program schedule</h2>

<p><span class="date">Monday, October 16, 2017</span>&mdash;We've released a preview of the North Bay Python 2017 program, including <a href="/schedule/general-sessions/list">13 of our 20 session speakers</a> and our first of two keynoters: <a href="https://twitter.com/cczona">Carina C. Zona</a>.</p>

<p>Carina is a developer evangelist, advocate, photographer, crocheter, gluten-free baker, and certified sex educator. She is also the founder of <a href="http://www.callbackwomen.com/">CallbackWomen</a>, whose mission is to radically increase gender diversity at the podium of professional programmers' conferences, and has been an organizer and instructor for many other tech nonprofits.</p>

<p>Following on from her talks <a href="https://www.youtube.com/watch?v=PYYfVqtcWQY"><em>Schemas for the Real World</em></a> and <a href="https://www.youtube.com/watch?v=NheE6udjfGI"><em>Consequences of an Insightful Algorithm</em></a>, Carina's keynote will continue her line of critical thinking and explorations of the unexpected cultural effects of our decisions as programmers.</p>

<p>You can now <a href="/schedule/general-sessions/list">read about the North Bay Python 2017 sessions</a> and the overall <a href="/program/events">event schedule</a> on our website.</p>

<a name="3"></a>
<h2>Tickets now on sale for North Bay Python 2017</h2>

<p><span class="date">Friday, October 6, 2017</span>&mdash;We are excited to announce that <a href="https://2017.northbaypython.org/tickets">tickets are now on sale</a> for North Bay Python 2017. With just two months until the conference we have a few key dates coming up:</p>

<ul>
  <li><a href="https://2017.northbaypython.org/tickets">Tickets</a> are available at a discount until Friday, October 20.</li>
  <li><a href="https://2017.northbaypython.org/attend/hotels">Hotel rooms</a> are available at a discount until Wednesday, November 1.</li>
  <li><a href="https://2017.northbaypython.org/attend/tshirts">T-shirts</a> can be ordered until Tuesday, November 7.</li>
</ul>

<p>Can't afford a ticket? Please email <a href="mailto:hello@northbaypython.org">hello@northbaypython.org</a>. We'll enthusiastically waive ticket fees for people who ask.</p>

<p>Need to get approval from your manager to attend North Bay Python 2017? We've outlined the <a href="https://2017.northbaypython.org/attend/business-case">business case</a> to make it clear that North Bay Python is a wise investment.</p>

<p>We've prepared a basic <a href="https://2017.northbaypython.org/about/petaluma">travel guide</a> with lodging and travel information. This resource will grow to include local restaurants and other amenities.</p>

<p>Currently we're reviewing 117 proposals from 82 people interested in speaking at North Bay Python 2017. We are grateful to the communities and individuals for: sharing the news, encouraging others, mentoring prospective speakers, crafting proposals, and reviewing those proposals.</p>

<p>Our inaugural event is going to have a fantastic program. We can't wait to announce our keynote speakers and program schedule!</p>

<p><a href="https://2017.northbaypython.org/tickets">Buy tickets</a> and <a href="https://2017.northbaypython.org/attend/hotels">book hotel rooms</a> soon to get the best rates.</p>

<a name="2"></a>
<h2>Reflecting the Bay in the North Bay Python 2017 speaker lineup</h2>

<p><span class="date">Wednesday, August 30, 2017</span>&mdash;The organizing team wants North Bay Python to reflect the demographics of the world around us, including the speaker lineup. We are working to make that happen, and we could use your help.</p>

<p>We are <a href="https://2017.northbaypython.org/program/call-for-proposals">currently seeking talk proposals</a> for our inaugural conference in Petaluma, CA on December 2-3, 2017. The deadline to submit a proposal is September 29, 2017.</p>

<p>This is an opportunity for new and seasoned speakers alike, for students and professionals, for developers and researchers, for managers and hobbyists.</p>

<p>To aid those who are interested in speaking, we are happy to share ideas, help refine proposals, and provide mentorship to prospective speakers.</p>

<p>We're providing that support via email to <a href="mailto:program@northbaypython.org">program@northbaypython.org</a> and <a href="https://webchat.freenode.net/?channels=%23nbpy">chat</a>, as needed and during the twice weekly office hours we host on Wednesdays at 3pm and Fridays at 7pm Pacific. People can tweet at us for help, too.</p>

<p>In order to decrease bias when selecting talks, our <a href="https://2017.northbaypython.org/program/selection-process">proposal scoring process</a> anonymizes speaker details. Accepted speakers receive a free pre-event training. We offer financial aid for speakers on a case-by-case basis.</p>

<p>We are doing all we can to build a great program and help excellent people get on stage.</p>

<p>You can help, too:</p>

<ul>
  <li><strong>Take the stage!</strong> You should <a href="https://2017.northbaypython.org/program/call-for-proposals">submit a proposal</a>. Yes, you.</li>
  <li><strong>Amplify someone else's voice.</strong> Encourage someone who's never given a conference talk to submit a proposal.</li>
  <li><strong>Help submitters prepare their proposals and talks:</strong> proofread, act as a rehearsal audience, offer slide design tips...</li>
  <li><strong>Pay our bills.</strong> Recommend <a href="https://2017.northbaypython.org/sponsors/become-a-sponsor">a sponsor</a> or throw your support behind this not-for-profit volunteer-run event as <a href="https://2017.northbaypython.org/about/donate">an individual donor</a>.</li>
</ul>

<p>Have other thoughts or ideas? Please reach out to <a href="mailto:hello@northbaypython.org">hello@northbaypython.org</a>.</p>

<p>Thank you for helping to make North Bay Python excellent. This is a volunteer-run conference running under the auspices of <a href="https://sfconservancy.org/">Software Freedom Conservancy</a>, a 501(c)(3) nonprofit, and none of this is possible without our advisors, our community partners, our sponsors, and you.</p>

<a name="1"></a>
<h2>Now accepting talk proposals for North Bay Python 2017</h2>

<p><span class="date">Monday, August 21, 2017</span>&mdash;The North Bay Python team is excited to announce that the <a href="https://2017.northbaypython.org/program/call-for-proposals">call for proposals</a> (CFP) is now open! We are seeking speakers of all experience levels to contribute to our inaugural conference. The CFP will close on September 29, 2017.</p>

<p>North Bay Python is a single-track event featuring two days of presentations by members of the community. The vast majority of the conference program will come from people who propose talks in our CFP process. Whether you use Python professionally, as a hobbyist, or are just excited about Python or programming and open source, we'd love to hear from you.</p>

<p>Our program committee, which is responsible for reviewing proposals, is interested in building a program that reflects the diversity of people who are using Python. Never given a presentation before but excited to share? We're here to help you craft a proposal and can refer you to quality resources for making your first conference talk. Not sure what to talk about, but interested in trying? We've got ideas for presentations we'd love to see and we're happy to share them with you!</p>

<p>In order to ensure a balanced program, we are proactively doing outreach to new and experienced speakers alike. We are also including a blind review phase in our <a href="https://2017.northbaypython.org/program/selection-process">selection process</a> in order to combat bias. Our goal is to have no less than 33% of our speakers be not-men, ideally 50%, and to reflect the racial diversity of United States and Bay Area demographics.</p>

<p>Feel free to reach out with any questions, comments, or ideas you have. You can find us on <a href="https://twitter.com/northbaypython">Twitter</a>, <a href="https://facebook.com/northbaypython">Facebook</a>, and <a href="https://webchat.freenode.net/?channels=%23nbpy">IRC</a>, or you can <a href="mailto:program@northbaypython.org">email us</a>. Please, get started today! The <a href="https://2017.northbaypython.org/program/call-for-proposals">call for proposals</a> closes on September 29, 2017.</p>

<a name="0"></a>
<h2>North Bay Python joins Software Freedom Conservancy</h2>

<p><span class="date">Wednesday, August 16, 2017</span>&mdash;We are proud to announce that North Bay Python is now a member project of <a href="https://sfconservancy.org">Software Freedom Conservancy</a>, a 501(c)(3) charity dedicated to ethical technology and the development and promotion free and open source software. Conservancy will act as our fiscal sponsor, allowing our team to operate without managing our own corporate structure and administrative services.</p>

<p>Conservancy is home to many popular <a href="https://sfconservancy.org/projects/current/">free and open source software projects</a>, like <a href="http://www.seleniumhq.org/">Selenium</a>, <a href="https://pypy.org/">PyPy</a>, <a href="https://www.phpmyadmin.net/">phpMyAdmin</a>, <a href="https://twistedmatrix.com/trac/">Twisted</a>, and <a href="https://www.gnome.org/outreachy/">Outreachy</a>, some of which run their own events. North Bay Python has the distinct honor of being the first member project that is exclusively focused on organizing community events.</p>

<p>We couldn't be more excited. We're celebrating by donating five free tickets to Outreachy participants and will be promoting member projects relevant to the Python community at the conference. Interested Outreachy alums (past or present) should <a href="mailto:outreach@northbaypython.org">contact us</a>. We'll also have discounted tickets available for active financial supporters of Software Freedom Conservancy.</p>

<p>We look forward to working with Conservancy to advance software freedom and expand the community of Python developers. If this is the first time you've heard of Conservancy, we encourage you to check out <a href="https://sfconservancy.org">their website</a> and give them your support.</p>

{% endblock %}
