{% extends "page_with_title_and_lede.html" %}

{% load i18n %}
{% load markdown_deux_tags %}

{% block head_title %}Terms and Conditions{% endblock %}

{% block heading %}Terms and Conditions{% endblock %}

{% block body_class %}terms-and-conditions{% endblock %}

{% block lede %}Terms and Conditions will be available when tickets are on sale.{% endblock %}

{% block content %}
  {% markdown %}

{% comment %}
{% include "static_pages/terms_and_conditions.md" %}
{% endcomment %}

  {% endmarkdown %}
{% endblock %}
