{% extends "wiki/base_site.html" %}
{% load staticfiles %}
{% load compress %}
{% load sitetree %}
{% load sekizai_tags %}

{% block wiki_body %}
  {% addtoblock "css" %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "scss/site.scss" %}">

      <style type="text/css">
        div.navbar ul.nav.navbar-nav li:nth-child(1), /* about */
        div.navbar ul.nav.navbar-nav li:nth-child(4), /* sponsors */
        div.navbar ul.nav.navbar-nav li:nth-child(5)  /* news */ {
          display: none;
        }
      </style>
    {% endcompress %}
  {% endaddtoblock %}

  {{ block.super }}
{% endblock %}

{% block wiki_site_title %} - North Bay Python Wiki{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="/">North Bay Python</a>
{% endblock %}

{% block wiki_header_navlinks %}
  {% sitetree_menu from "main" include "trunk" template "sitetree/menu_bootstrap3.html" %}
{% endblock %}

{% block wiki_footer_prepend %}
  All contributions to this wiki page are licensed under a Creative Commons Attribution-ShareAlike 4.0 licence.
{% endblock %}
