{% extends "page_with_title_and_lede.html" %}

{% load i18n %}
{% load markdown_deux_tags %}

{% block head_title %}Call for Proposals{% endblock %}

{% block heading %}Call for Proposals{% endblock %}

{% block body_class %}program{% endblock %}

{% block lede %}

North Bay Python is seeking speakers of all experience levels to contribute to our first-ever conference program! If you use Python professionally, as a hobbyist, or are just excited about Python or programming and open source, we'd love to hear from you.

{% endblock %}

{% block content %}
  {% markdown %}

{% include "static_pages/program/call_for_proposals.md" %}

  {% endmarkdown %}
{% endblock %}
