{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Events{% endblock %}

{% block heading %}Events{% endblock %}

{% block body_class %}program{% endblock %}

{% block lede %}
  North Bay Python 2017 is coming, and with it: more Python. We'll add satellite events and more to this page as details are available.
{% endblock %}


{% block content %}

<h2>A Taste of Python and Django<br/>
  <small>October 24, 2017</small></h2>

<p>A pre-conference event with local meetup group, Web &amp; Interactive Media Professionals (WIMP). At least three of the North Bay Python organizers will be present at this potluck-style event at Santa Rosa Junior College. <a href="https://www.facebook.com/events/1936385509950665/">Find more information and join us!</a></p>

<h2>Speaker Training (<a href="/wiki/meetups/speaker-training/">Wiki</a>)<br/>
  <small>December 1, 2017 @ 5pm</small></h2>

<p>We are running a free speaker training the day before the conference. Everyone is invited to attend, but seating is limited so people who are accepted to speak at the conference are given priority.</p>

<p><strong>You must <a href="/tickets/category/8">register to attend</a>.</strong> Due to the location, the training is only open to people age 21 and older.</p>

<p><strong>The Blue Room<br/>
  Jamison's Roaring Donkey</strong><br/>
  146 Kentucky Street</br>
  Petaluma, CA 94952</p>

<h2>Pre-conference Social Hour (<a href="/wiki/meetups/social-hour/">Wiki</a>)<br/>
  <small>December 1, 2017 @ 7:30pm</small></h2>

<p>Getting into town early? Come meet other attendees at the Pre-conference Social Hour! We have a table reserved for 20, come find us and say hello. The venue is quite large so once the table fills up we'll just start seeding tables in unreserved space.</p>

<p><strong>Brewster's</strong><br/>
  229 Water Street North<br/>
  Petaluma, CA 94952</p>

<h2>North Bay Python 2017<br/>
  <small>December 2-3, 2017</small></h2>

<p>This year's main event will run from 10:00am to about 6:15pm each day with check-in starting at 8:30am on Saturday. There are <a href="/schedule/general-sessions/list/">20 sessions</a> and <a href="/news">2 keynotes</a> that make up the North Bay Python 2017 program.</p>

<p>There will be a variety of official and unofficial events running during the conference, each day before opening, during lunch, and after closing. You can find a regularly updated list of events on the <a href="/wiki/">Attendee Wiki</a>. You can find events, and organize your own, on the <a href="/wiki/meetups/">Meetups</a> page.</p>

<h2>PyLadies Lunch (<a href="/wiki/meetups/pyladies-lunch/">Wiki</a>)<br/>
  <small>December 2, 2017 @ 12pm</small></h2>

<p>Come hear some awesome talks and then have lunch with your favorite women and non-binary programmers and their friends!</p>

<p>It's free to join and lunch is on us, but space is limited so <strong>you must <a href="/tickets/category/9">register to attend</a>.</strong></p>

{% endblock %}
