{% load sponsorship_tags %}
{% load thumbnail %}
{% load pinax_boxes_tags %}

{% sponsor_levels as levels %}

<h3>Sponsors</h3>

<div class="sponsor-list">
    {% for level in levels %}
        {% if level.sponsors %}

          <h4>{{ level.name }}</h4>

          {% for sponsor in level.sponsors %}
              <div>
                  {% if sponsor.website_logo %}
                      <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">
                          <img src="{% thumbnail sponsor.website_logo '600x360' %}" alt="{{ sponsor.name }}">
                      </a>
                  {% else %}
                      <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">{{ sponsor.name }}</a>
                  {% endif %}
              </div>

          {% endfor %}

        {% endif %}

    {% endfor %}
</div>
