<div class="row">
  <div class="pull-left">
    North Bay Python is a member project of <a href="https://sfconservancy.org" title="Software Freedom Conservancy">Software Freedom Conservancy</a>, a 501(c)(3) charity.<br/>

    <a href="https://facebook.com/northbaypython" title="North Bay Python on Facebook">Facebook</a> | <a href="https://twitter.com/northbaypython" title="North Bay Python on Twitter">Twitter</a> | <a href="https://lanyrd.com/2017/nbpy" title="North Bay Python on Lanyrd">Lanyrd</a> | <a href="/code-of-conduct" title="North Bay Python Code of Conduct">Code of Conduct</a> | <a href="/terms-and-conditions" title="North Bay Python Terms and Conditions">Terms and Conditions</a> | <a href="/about/colophon" title="North Bay Python Colophon">Colophon</a>
  </div>

  <div class="pull-right">
      Site powered by <a href="https://github.com/chrisjrn/symposion/" title="Symposion Git Repository"><b>Symposion</b></a>
      and <a href="https://github.com/chrisjrn/registrasion/" title="Registrasion Git Repository"><b>Registrasion</b></a>.
  </div>
</div>
