<div class="pull-left">
    North Bay Python is a member project of the <a href="https://sfconservancy.org">Software Freedom Conservancy</a>, a 501(c)(3) charity.<br/>
    <a href="/code-of-conduct">Code of Conduct</a> | <a href="/terms-and-conditions">Terms and Conditions</a> | <a href="/about/colophon">Colophon</a>
</div>

<div class="pull-right">
    Site powered by <a href="http://eldarion.com/symposion/"><b>Symposion</b></a>
    and <a href="http://github.com/chrisjrn/registrasion/"><b>Registrasion</b></a>.
</div>
