{% load staticfiles %}
{% load sponsorship_tags %}
<div class="row">

  <div class="logo">
    <div class="circle">
      <div class="fill" style="background-image: url('{% static "images/logo.svg" %}');"></div>
    </div>
  </div>

  <div class="footer-copy">
    <p>&copy; 2017 North Bay Python, member project of <a href="https://sfconservancy.org" >Software Freedom Conservancy</a>, a 501(c)(3) charity.</p>

    {% sponsors "platinum" as platinum %}

    <p>We acknowledge the support of our Platinum sponsor{{ platinum|length|pluralize}},
      {% for sponsor in platinum %}
        {% if forloop.last and not forloop.first %}
          and
        {% endif %}
        {{ sponsor }}{% if forloop.last %}.{% endif %}
      {% endfor %}

    <p>
      <a href="https://facebook.com/northbaypython">Facebook</a>
      | <a href="https://twitter.com/northbaypython">Twitter</a>
      | <a href="/code-of-conduct">Code of Conduct</a>
      | <a href="/terms">Terms and Conditions</a>
      | <a href="/about/colophon">Colophon</a>
      | <a href="/donate">Donate</a>
    </p>

    <p>This site is <a href="https://github.com/northbaypython/website">free and open source software</a>, powered by <a href="https://github.com/chrisjrn/symposion/">Symposion</a> and <a href="https://github.com/chrisjrn/registrasion/">Registrasion</a>.</p>
  </div>
</div>
