{% load compress %}
{% load staticfiles %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

{% compress js %}
  <script src='{% static "bootstrap/javascripts/bootstrap.min.js" %}'></script>
  <script src='{% static "js/site.js" %}'></script>
{% endcompress %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112992906-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112992906-2');
</script>

