{% extends "override_bootstrap_theme_base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load sitetree %}

{% block styles %}
    {% include "_styles.html" %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}
      <meta property="twitter:card" content="summary">
      <meta property="og:type" content="website">
      <meta property="og:title" content="{% block head_title %}{% endblock %} | {{ SITE_NAME }}">
      <meta property="twitter:title" content="{{ SITE_NAME }}">
      <meta property="og:site_name" content="{{ SITE_NAME }}">
      <meta property="og:image" content="{% static "images/pyohio-logo-square.png" %}">
      <meta property="og:image:width" content="500">
      <meta property="og:image:height" content="500">
      <meta property="og:url" content="{{ request.build_absolute_uri }}">
      <meta property="og:description" content="PyOhio: The FREE Python conference in Columbus, OH July 28-29, 2018">
      <meta property="twitter:description" content="PyOhio: The FREE Python conference in Columbus, OH July 28-29, 2018">
      <meta name="description" content="PyOhio: The FREE Python conference in Columbus, OH July 28-29, 2018">
    {% endblock %}
{% endblock %}

{% block nav %}
    {% sitetree_menu from "main" include "trunk" template "sitetree/menu_bootstrap3.html" %}
{% endblock %}

{% block body_base %}

  <div class="homepage-block-bg website-background"></div>

  <div id="background-filter">
    <section id="content_body">
        <div class="container">
            {% include "_messages.html" %}
            <div class="row">
                <div class="col-md-9">
                    {% block body %}
                    {% endblock %}
                    {% block body_outer %}
                    {% endblock %}
                </div>
                <div class="col-md-3">
                    {% block sidebar %}
                        {% include "_default_sidebar.html" %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block footer_base %}
  <div class="container">
    <footer>
      {% block footer %}
          {% include "_footer.html" %}
      {% endblock %}
    </footer>
  </div>
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}

    {% block extra_script %}
    {% endblock %}

{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
